html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
 display: block;
}

body {
 line-height: 1;
}

ol,
ul {
 list-style: none;
}

blockquote,
q {
 quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
 content: '';
 content: none;
}

$baseColor: #3bb8c8;

table {
 border-collapse: collapse;
 border-spacing: 0;
}

body {
 font-family: Arial, Helvetica, sans-serif;
 background: $baseColor
}

.menuMobile {
 left: -600px;
 display: none;
 width: 100%;
 height: calc(100vh - 50px);
 top: 50px;
 position: absolute;
 text-align: center;
 background: #fff;

 ul {

  li {

   padding: 10px 30px;
   margin: 30% auto 20px auto;
   display: block;
   font-size: 15px;

   a {
    text-decoration: none;
    color: $baseColor;
   }
  }
 }
}








.bodyFull {
 margin: 0 auto;
 height: 100vh;

 header {
  width: 100%;
  height: 20%;
  background-color: #3bb8c8;

  #navMenu {
   text-align: center;


   ul {
    li {
     display: inline-block;
     margin: 20px auto 20px auto;

     a {
      text-decoration: none;
      color: #fff;
      padding: 10px 30px;
      font-size: 15px;
      font-weight: bolder;

      &:hover {
       color: $baseColor;
       background-color: #fff;
       border-radius: 20px;


      }
     }

    }
   }
  }



  .toggle {
   display: none;
   background: #3bb8c8;

   width: 60px;
   height: 60px;
   right: 25px;

   .hamburguer {
    position: relative;
    display: block;
    background: #fff;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: .5s ease-in-out;
   }

   .hamburguer:before,
   .hamburguer:after {
    background: #fff;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
   }

   .hamburguer:before {
    top: -10px;
   }

   .hamburguer:after {
    bottom: -10px;
   }

  }
 }

 .sectionContent {
  width: calc(100%-30);
  height: 75%;
  padding: 0 15px;


  .boxContent {
   display: block;
   width: 100%;

   background: #fff;
   margin: 0 auto;
   border-radius: 30px;
   box-shadow: 2px 2px 10px #000;

   .logoImg {

    display: block;
    text-align: center;

    img {
     width: 100%;
     max-width: 250px;
     max-height: 125px;
    }
   }

   .formsLog {
    display: block;
    text-align: center;
    margin: 0 auto 20px auto;


    form {
     padding: 10px;
    }

    input[type="email"],
    input[type="password"] {
     border: 0;
     background: none;
     display: block;
     margin: 25px auto;
     text-align: center;
     border: 2px solid #3bb8c8;
     padding: 12px 10px;
     width: 250px;
     outline: none;
     color: #3bb8c8;
     border-radius: 25px;
     transition: 0.25s;

     &:hover {
      width: 370px;
      border-color: #3bb8c8;
     }

     &:focus {
      width: 370px;
      border-color: #3bb8c8;
     }
    }

    input[type="submit"] {
     border: 0;
     background: none;
     display: block;
     margin: 25px auto 20px;
     text-align: center;
     border: 2px solid #3bb8c8;
     padding: 12px 10px;
     width: 100px;
     outline: none;
     color: #3bb8c8;
     border-radius: 25px;
     transition: 0.25s;
     cursor: pointer;

     &:hover {
      background: #3bb8c8;
      border: 2px solid #3bb8c8;
      color: #fff;
     }
    }

    p {
     display: inline-block;
     color: $baseColor;
     margin-bottom: 20px;

     &:hover {
      text-decoration: underline;
     }
    }

   }
  }

  .menuList {
   padding: 20px;
   list-style: none;

   a {
    text-decoration: none;
   }

   .btn-Menu {
    border: 0;
    background: none;
    display: block;
    margin: 25px auto 5px;
    text-align: center;
    border: 2px solid #3bb8c8;
    padding: 12px 10px;
    width: 250px;
    outline: none;
    color: #3bb8c8;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;

    :before {
     margin-bottom: 20px;
    }

    &:hover {
     background: #3bb8c8;
     border: 2px solid #3bb8c8;
     color: #fff;


    }
   }
  }
 }

 .sectionDescriptive {
  width: 100%;
  margin-bottom: 15%;

  .boxContent {
   display: block;
   width: 100%;
   max-width: 650px;
   background: #fff;
   margin: auto;
   border-radius: 30px;
   box-shadow: 2px 2px 10px #000;

   .logoImg {

    display: block;
    text-align: center;

    img {
     width: 100%;
     max-width: 250px;
     max-height: 125px;
    }
   }



   .pageDescritive {
    margin: auto;

    .inputData {
     text-align: center;

     .textInput {
      font-size: 20px;
      color: $baseColor;
      margin-top: 20px;

     }

     input[type="text"] {
      border: 0;
      background: none;
      display: inline-block;
      margin: 25px auto 20px;
      text-align: center;
      border: 2px solid #3bb8c8;
      padding: 10px 20px;
      width: 400px;
      outline: none;
      color: #3bb8c8;
      border-radius: 25px;
      transition: 0.25s;

      &::placeholder {
       color: $baseColor;
      }

      &:focus {

       color: $baseColor;
       font-size: 12px;
       font-weight: bold;

      }
     }

     button[type="button"] {
      border: 0;
      background: none;
      display: inline-block;
      // margin: 25px auto 20px;
      border: 2px solid #3bb8c8;
      padding: 10px 10px;
      width: 45px;
      color: #3bb8c8;
      border-radius: 50%;
      transition: 0.25s;
      cursor: pointer;


     }

     .btn-PopSam {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      margin-left: -40px;

      input[type="radio"] {
       display: none;

       &:checked+label {
        padding: 5px 15px;
        background: $baseColor;
        color: #fff;
       }

       &:checked+label:before {
        display: none;
       }

      }

      label {
       color: $baseColor;
       padding: 5px 20px 5px 51px;
       display: inline-block;
       position: relative;
       font-size: 1em;
       border-radius: 3px;
       cursor: pointer;
       transition: all 0.3s ease;

       &:hover {
        background: $baseColor;
        color: #fff;
       }

       &:before {
        content: "";
        width: 17px;
        height: 17px;
        display: inline-block;
        background: none;
        border: 3px solid $baseColor;
        border-radius: 50%;
        position: absolute;
        left: 17px;
        top: 3px;

        &:hover {
         border: 3px solid #fff;
        }

       }


      }




     }
    }
   }
  }

  .variavelPresent {
   display: none;
  }

  .variavelPresentActive {
   display: block;
  }

  #variavelText {
   margin: -10px auto 20px;
   color: $baseColor;
  }

  select {
   width: 50%;
   margin-top: 15px;
   color: $baseColor;
   font: inherit;
   font-size: 16px;
   background-color: #fff;
   border: 1px solid $baseColor;
   border-top: none;
   border-right: none;
   border-left: none;

   display: inline-block;

   line-height: 1.5em;
   padding: 0.5em 3.5em 0.5em 1em;
   margin: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-appearance: none;
   -moz-appearance: none;



   .textVariable {
    color: $baseColor;
    font-weight: bold;
   }

   .arrow {
    margin-left: 10px;
   }




  }

  .valorContent {
   margin: 5px auto;
   text-align: center;

   .chipsPresent {
    display: none;
   }

   .chipsActive {
    display: block;
    margin: 0 auto;
    text-align: center;


   }

   #presentText {
    padding-bottom: 20px;
   }

   p {
    margin: 0 5px;
    color: #fff;
    display: inline-block;
    background: $baseColor;
    padding: 10px 35px;
    border-radius: 30px;
    position: relative;
    box-shadow: .2px .2px 2px #000;

    label {
     margin: auto;
     width: 10px;
     height: 10px;
     top: 0px;
     right: 15px;
     position: absolute;
    }

   }
  }

  .contentBtn {
   padding: 20px;

   .btnCalculate {
    padding: 10px 20px;
    background-color: #fff;
    border: 2px solid $baseColor;
    border-radius: 25px;
    color: $baseColor;
    cursor: pointer;

    &:hover {
     background: $baseColor;
     color: #fff;
    }
   }

   .btnImport {
    padding: 10px 20px;
    background-color: #fff;
    border: 2px solid $baseColor;
    border-radius: 25px;
    color: $baseColor;
    cursor: pointer;

    &:hover {
     background: $baseColor;
     color: #fff;
    }
   }
  }

  #modalValue {
   margin-bottom: 0px;
   display: none;

   .textInput2 {
    font-size: 15px;
    color: $baseColor;
    margin-top: 20px;
    margin-bottom: 0px;
   }
  }

  #modalValue-Active {
   display: block;

   .textInput2 {
    font-size: 15px;
    color: $baseColor;
    margin-top: 20px;
    margin-bottom: 0px;
   }
  }

  .content-Result {
   display: none;
  }

  .content-ResultActive {
   margin: 0 auto;
   display: block;

   .titleResult {
    margin: 0 auto;

    h2 {
     text-align: center;
     color: $baseColor;
     padding: 20px;
     display: block;
    }
   }

   .resultDemonstration {
    display: block;
    text-align: center;

    .TabControl {
     width: 100%;
     overflow: hidden;
     margin: 0px auto;
     display: block;


    }

    .TabControl #header {
     display: flex;
     justify-content: space-evenly;
     margin: 0 auto;
     overflow: hidden;
     cursor: pointer;

    }

    .TabControl #content {
     width: 100%;
     overflow: hidden;
     height: 100%;
    }

    .TabControl .abas {
     display: block;

    }

    .TabControl .abas li {
     padding: 5px;
     display: block;
     float: left;


    }

    .aba {
     width: 100px;
     height: 30px;
     text-align: center;
     padding-top: 5px;
     background: rgba(59, 184, 200, 0.22);
     transition: .1s ease-in;

     span {
      color: $baseColor;
     }
    }

    .ativa {
     width: 100px;
     height: 30px;
     text-align: center;
     padding-top: 5px;
     background: rgba(59, 184, 200, 0.55);
     transition: .3s ease-in;
    }

    .ativa span,
    .selected span {
     color: #fff;
    }

    .TabControl #content {
     background: #fff;
     margin: 0 auto 20px;
    }

    .TabControl .conteudo {
     width: 100%;
     display: none;
     color: $baseColor;
    }

    .selected {
     width: 100px;
     height: 30px;
     border: solid 1 px;
     border-radius: 5px 5px 0 0;
     text-align: center;
     padding-top: 5px;
     background: $baseColor;
    }

    .content {
     margin: 0 auto;
     text-align: center;

     .contentList {
      background: #fff;
      width: 90%;

      ul {
       list-style: none;
       display: flex;
       justify-content: space-around;

       li {
        height: 40px;
        padding: 10px 70px 10px;
        cursor: pointer;
        transition: 0.105ms ease-in;

        a {
         font-size: 18px;
         color: $baseColor;
         font-weight: bold;
        }

        &:hover {
         background: rgba(59, 183, 200, 0.288);
         color: $baseColor;
         border-bottom: 2px solid $baseColor;
        }
       }
      }
     }

     .contentTabs {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      display: none;


      .contentBody-active {
       display: block;
      }


     }
    }
   }
  }

  .breakerContent {
   margin: 20px auto 20px;
   text-align: center;

   .textInput {
    font-size: 20px;
    color: $baseColor;
    margin: 20px auto 0px;
    padding: 10px 0 0 0;
   }
   .inputDiv {
    width: 450px;
    margin: 10px auto;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
    input[type='range'] {
      display: block;
      width: 350px;

      &:focus{
        outline: none;
      }
    }
    input[type='range'],
    input[type='range']::-webkit-slider-runnable-track,
    input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    } 
    input[type=range]::-webkit-slider-thumb {
      background-color: #fff;
      width: 20px;
      height: 20px;
      border: 3px solid $baseColor;
      border-radius: 50%;
      margin-top: -9px;
    }
    input[type=range]::-moz-range-thumb {
      background-color: #fff;
      width: 15px;
      height: 15px;
      border: 3px solid $baseColor;
      border-radius: 50%;
    }
    input[type=range]::-ms-thumb {
      background-color: #fff;
      width: 20px;
      height: 20px;
      border: 3px solid $baseColor;
      border-radius: 50%;
    }
    input[type=range]::-webkit-slider-runnable-track {
      background-color: $baseColor;
      height: 3px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
      outline: none;
    }
    input[type=range]::-moz-range-track {
      background-color: $baseColor;
      height: 3px;
    }
    input[type=range]::-ms-track {
      background-color: $baseColor;
      height: 3px;
    }
    input[type=range]::-ms-fill-lower {
      background-color: #000;
    }
    input[type=range]::-ms-fill-upper {
      background-color: black;
    } 

    #etiqueta{
      position: absolute;
      z-index: 9;
      color: #fff;
      font-weight: bold;
      background-color: $baseColor;
      width: 30px;
      height: 25px;
      font-size: 1em;
      text-align: center;
      padding-top: 12px;
      top: -5px;

      &::after{
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        -webkit-transform: rotate(45deg);
        -mox-transform: rotate(45deg);
        -ms-transform:  rotate(45deg);
        transform:  rotate(45deg);
        z-index: 8;
        background-color: $baseColor;
        position: relative;
        left: 9px;
        top: 2px;
      }  
    }

  }
   

   
  }


  .reloadPage {
   margin: 0 auto 20px;
   text-align: center;
   padding: 20px;

   input[type="button"] {
    border: 0;
    background: none;
    display: block;
    margin: 25px auto;
    text-align: center;
    border: 2px solid #3bb8c8;
    padding: 12px 10px;
    width: 250px;
    outline: none;
    color: #3bb8c8;
    border-radius: 25px;
    transition: 0.25s;

    &:hover {
     border-color: $baseColor;
     background: $baseColor;
     color: #fff;
    }
   }
  }

  #tableDemonstration {
   margin: 30px auto;

   .tableTitle {
    font-size: 20px;
    color: $baseColor;
    font-weight: bolder;
    letter-spacing: 3px;
   }


   .tdVet {
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid $baseColor;
   }

   .tableLines {
    border-left: 2px solid $baseColor;

   }

  }

 }

 .footerContent {

  width: 100%;
  min-height: 5%;
  margin-top: auto;
  background-color: #fff;

  .footerMenu {
   margin: auto;
   text-align: center;

   ul {
    li {
     color: $baseColor;
     font-weight: bold;
     margin: 10px auto 0;
     display: inline-block;
     padding: 0px 50px;
    }
   }
  }
 }
}


@media screen and(max-width:600px) {
 .MobileActive {
  left: 0px;
  display: block;
  width: 100%;

  height: calc(100vh - 50px);
  top: 50px;
  position: absolute;
  text-align: center;
  background: #fff;



  ul {
   li {

    color: $baseColor;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 30px;
    margin: 30% auto 20px auto;
    display: block;
    font-size: 15px;
   }
  }
 }

 .bodyFull {
  margin: 0 auto;

  header {


   #navMenu {
    text-align: center;

    ul {
     li {
      display: none;

     }
    }
   }

   .toggle {
    display: block;

    .Active {
     &.hamburguer {
      transform: rotate(45deg);

      &::before {
       transform: rotate(90deg);
       top: 0;
      }

      &::after {
       transform: rotate(90deg);
       bottom: 0;
      }
     }


    }
   }


  }

  .formsLog {
   margin-top: -50px;
   margin-bottom: 25px;
  }

  .sectionDescriptive {
   width: calc(100%-30px);


   .boxContent {
    display: block;
    width: 100%;
    padding: 0 15px;
    background: #fff;
    margin: auto;
    border-radius: 30px;
    box-shadow: 2px 2px 10px #000;


    .logoImg {

     display: block;
     text-align: center;

     img {
      width: 100%;
      max-width: 250px;
      max-height: 125px;
     }
    }



    .pageDescritive {
     margin: auto;

     .inputData {
      text-align: center;

      .textInput {
       font-size: 20px;
       color: $baseColor;
       margin-top: 20px;

      }

      input[type="text"] {
       border: 0;
       background: none;
       display: inline-block;
       margin: 25px auto 20px;
       text-align: center;
       border: 2px solid #3bb8c8;
       padding: 10px 20px;
       width: 200px;
       outline: none;
       color: #3bb8c8;
       border-radius: 25px;
       transition: 0.25s;

       &::placeholder {
        color: $baseColor;
       }

       &:focus {

        color: $baseColor;
        font-size: 12px;
        font-weight: bold;

       }
      }

      button[type="button"] {
       border: 0;
       background: none;
       display: inline-block;
       // margin: 25px auto 20px;
       border: 2px solid #3bb8c8;
       padding: 10px 10px;
       width: 45px;
       color: #3bb8c8;
       border-radius: 50%;
       transition: 0.25s;
       cursor: pointer;


      }

      .btn-PopSam {
       display: block;
       margin: 20px auto 20px auto;



       input[type="radio"] {
        display: none;

        &:checked+label {
         padding: 5px 15px;
         background: $baseColor;
         color: #fff;
        }

        &:checked+label:before {
         display: none;
        }

       }

       label {
        margin: auto;
        color: $baseColor;
        padding: 5px 20px 5px 51px;
        display: block;
        width: 150px;
        font-size: 1em;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
         background: $baseColor;
         color: #fff;
        }

        &:before {
         content: "";
         width: 17px;
         height: 17px;
         display: block;
         background: none;
         border: 3px solid $baseColor;
         border-radius: 50%;

         left: 17px;
         top: 3px;

         &:hover {
          border: 3px solid #fff;
         }

        }


       }




      }
     }
    }
   }

   .variavelPresent {
    display: none;
   }

   .variavelPresentActive {
    display: block;
   }

   #variavelText {
    margin: -10px auto 20px;
    color: $baseColor;
   }

   select {
    margin-top: 15px;
    color: $baseColor;
    font: inherit;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid $baseColor;
    border-top: none;
    border-right: none;
    border-left: none;

    display: inline-block;

    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;



    .textVariable {
     color: $baseColor;
     font-weight: bold;
    }

    .arrow {
     margin-left: 10px;
    }




   }

   .valorContent {
    margin: 5px auto;
    text-align: center;

    .chipsPresent {
     display: none;
    }

    .chipsActive {
     display: block;
     margin: 0 auto;
     text-align: center;


    }

    #presentText {
     padding-bottom: 20px;
    }

    p {
     margin: 0 5px;
     color: #fff;
     display: inline-block;
     background: #3bb8c8;
     padding: 10px 35px;
     border-radius: 30px;
     position: relative;
     box-shadow: .2px .2px 2px #000;

     label {
      margin: auto;
      width: 10px;
      height: 10px;
      top: 0px;
      right: 15px;
      position: absolute;
     }

    }
   }

   .contentBtn {
    padding: 20px;

    .btnCalculate {
     padding: 10px 20px;
     background-color: #fff;
     border: 2px solid $baseColor;
     border-radius: 25px;
     color: $baseColor;
     cursor: pointer;

     &:hover {
      background: $baseColor;
      color: #fff;
     }
    }

    .btnImport {
     padding: 10px 20px;
     background-color: #fff;
     border: 2px solid $baseColor;
     border-radius: 25px;
     color: $baseColor;
     cursor: pointer;

     &:hover {
      background: $baseColor;
      color: #fff;
     }
    }
   }

   #modalValue {
    margin-bottom: 0px;
    display: none;

    .textInput2 {
     font-size: 15px;
     color: $baseColor;
     margin-top: 20px;
     margin-bottom: 0px;
    }
   }

   #modalValue-Active {
    display: block;

    .textInput2 {
     font-size: 15px;
     color: $baseColor;
     margin-top: 20px;
     margin-bottom: 0px;
    }
   }


   .content-Result {
    display: none;
   }

   .content-ResultActive {
    margin: -20px auto;
    display: block;

    .titleResult {
     margin: 0 auto;

     h2 {
      text-align: center;
      color: $baseColor;
      padding: 20px;
      display: block;
     }
    }

    .resultDemonstration {
     display: block;
     text-align: center;

     .TabControl {
      width: 100%;
      overflow: hidden;
      margin: 0px auto;
      display: block;


     }

     .TabControl #header {
      margin: auto;
      overflow: hidden;
      cursor: pointer;

     }

     .TabControl #content {
      width: 100%;
      overflow: hidden;
      height: 100%;
     }

     .TabControl .abas {
      display: block;

     }

     .TabControl .abas li {
      padding: 5px;
      display: block;
      float: left;


     }

     .aba {
      width: 100px;
      height: 30px;
      text-align: center;
      padding-top: 5px;
      background: rgba(59, 184, 200, 0.22);
      transition: .1s ease-in;

      span {
       color: $baseColor;
      }
     }

     .ativa {
      width: 100px;
      height: 30px;
      text-align: center;
      padding-top: 5px;
      background: rgba(59, 184, 200, 0.55);
      transition: .3s ease-in;
     }

     .ativa span,
     .selected span {
      color: #fff;
     }

     .TabControl #content {
      background: #fff;
      margin: 0 auto 20px;
     }

     .TabControl .conteudo {
      width: 100%;
      display: none;
      color: $baseColor;
     }

     .selected {
      width: 100px;
      height: 30px;
      border: solid 1 px;
      border-radius: 5px 5px 0 0;
      text-align: center;
      padding-top: 5px;
      background: $baseColor;
     }

     .content {
      margin: 0 auto;
      text-align: center;

      .contentList {
       background: #fff;
       width: 90%;

       ul {
        list-style: none;
        display: flex;
        justify-content: space-around;

        li {
         height: 40px;
         padding: 10px 70px 10px;
         cursor: pointer;
         transition: 0.105ms ease-in;

         a {
          font-size: 18px;
          color: $baseColor;
          font-weight: bold;
         }

         &:hover {
          background: rgba(59, 183, 200, 0.288);
          color: $baseColor;
          border-bottom: 2px solid $baseColor;
         }
        }
       }
      }

      .contentTabs {
       width: 100%;
       margin: 0 auto;
       text-align: center;
       display: none;


       .contentBody-active {
        display: block;
       }


      }
     }
    }
   }

   .reloadPage {
    margin: 0 auto 20px;
    text-align: center;
    padding: 20px;

    input[type="button"] {
     border: 0;
     background: none;
     display: block;
     margin: 25px auto;
     text-align: center;
     border: 2px solid #3bb8c8;
     padding: 12px 10px;
     width: 250px;
     outline: none;
     color: #3bb8c8;
     border-radius: 25px;
     transition: 0.25s;

     &:hover {
      border-color: $baseColor;
      background: $baseColor;
      color: #fff;
     }
    }
   }

   // Tabelas
   #tableDemonstration {
    margin: 30px auto;

    .tableTitle {
     font-size: 20px;
     color: $baseColor;
     font-weight: bolder;
     letter-spacing: 3px;
    }


    .tdVet {
     border-collapse: collapse;
     text-align: center;
     padding: 10px;
     border-bottom: 2px solid $baseColor;
    }

    .tableLines {
     border-left: 2px solid $baseColor;

    }

   }
  }

  .footerContent {
   bottom: 0;
   left: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   min-height: 5%;

   margin-top: auto;
   background-color: #fff;

   .footerMenu {
    ul {
     li {
      display: block;
      margin: auto;
      padding: 20px;
     }
    }
   }

   ;
  }
 }

}

@media screen and (max-width:420px) {
 .bodyFull {
  margin: auto;

  .sectionDescriptive {
   margin: auto;

   .boxContent {
    width: 100%;

   }
  }

  .content-ResultActive {
   margin: -20px auto;
   display: block;

   .titleResult {
    margin: 0 auto;

    h2 {
     text-align: center;
     color: $baseColor;
     padding: 20px;
     display: block;
    }
   }

   .resultDemonstration {
    display: block;
    text-align: center;

    .TabControl {
     width: 100%;
     overflow: hidden;
     margin: 0px auto;
     display: block;


    }

    .TabControl #header {
     margin: auto;
     overflow: hidden;
     cursor: pointer;

    }

    .TabControl #content {
     width: 100%;
     overflow: hidden;
     height: 100%;
    }

    .TabControl .abas {
     display: block;

    }

    .TabControl .abas li {
     padding: 5px;
     display: block;
     float: left;


    }

    .aba {
     width: 100px;
     height: 30px;
     text-align: center;
     padding-top: 5px;
     background: rgba(59, 184, 200, 0.22);
     transition: .1s ease-in;

     span {
      color: $baseColor;
     }
    }

    .ativa {
     width: 100px;
     height: 30px;
     text-align: center;
     padding-top: 5px;
     background: rgba(59, 184, 200, 0.55);
     transition: .3s ease-in;
    }

    .ativa span,
    .selected span {
     color: #fff;
    }

    .TabControl #content {
     background: #fff;
     margin: 0 auto 20px;
    }

    .TabControl .conteudo {
     width: 100%;
     display: none;
     color: $baseColor;
    }

    .selected {
     width: 100px;
     height: 30px;
     border: solid 1 px;
     border-radius: 5px 5px 0 0;
     text-align: center;
     padding-top: 5px;
     background: $baseColor;
    }

    .content {
     margin: 0 auto;
     text-align: center;

     .contentList {
      background: #fff;
      width: 90%;

      ul {
       list-style: none;
       display: flex;
       justify-content: space-around;

       li {
        height: 40px;
        padding: 10px 70px 10px;
        cursor: pointer;
        transition: 0.105ms ease-in;

        a {
         font-size: 18px;
         color: $baseColor;
         font-weight: bold;
        }

        &:hover {
         background: rgba(59, 183, 200, 0.288);
         color: $baseColor;
         border-bottom: 2px solid $baseColor;
        }
       }
      }
     }

     .contentTabs {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      display: none;


      .contentBody-active {
       display: block;
      }


     }
    }
   }
  }
 }

}