$baseColor: #2a838f;
$secondColor: #fff;
$textColor: #0D3C42;
$colorNav: #1D5259;

body {
  background-color: $baseColor;
  font-family: Arial, Helvetica, sans-serif;
}

.alertInput{
  border:1px solid #ff0000!important;
}

.navMobile {

  transition: .3s ease-in-out;
}

.navbarMobile-Active {
  width: 100%;
  display: flex;
  position: absolute;
  top: 51px;
  left: 0px;
  background: rgb(255, 255, 255);
  padding: 80px;
  z-index: 9;

  div {
    a {
      text-align: center;
      padding: 40px;
      color: $baseColor;
      font-size: 1.2em;
    }
  }
}

.navbar-toggler-icon {
  filter: invert(1);
}

.navContent {
  height: 55px;
  background: $colorNav;
}


.navContent .navbar-collapse .navbar-nav a {
  color: $secondColor;
  font-size: 18px;
  padding: 10px 30px;
  font-weight: bold;

  &:hover {
    background: $secondColor;
    color: $baseColor;
    border-bottom: 1px solid $colorNav;
  }
}

#text-Menu {
  display: flex;
  justify-content: center;
  margin: 5px 70px 0;
}

.fullContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;

  .contentSection {
    width: 100%;
    margin-top: 50px;
    max-width: 500px;
    height: 550px;
    background: $secondColor;
    border-radius: 30px;
    box-shadow: 2px 2px 10px #000;

    .content {
      .backPage {
        position: absolute;
        right: 60%;

        img {
          width: 40px;
          margin: 20px;
        }
      }

      .brandLogo {

        .logo {
          width: 100%;
          max-width: 250px;
          max-height: 150px;
          margin: 1em auto;
        }
      }
    }

    .contentLog {
      margin: 1em;

      input[type="email"],
      input[type="password"] {
        border: 0;
        background: none;
        display: block;
        text-align: center;
        border-bottom: 1.5px solid $baseColor;
        padding: 12px 10px;
        width: 360px;
        height: 50px;
        outline: none;
        color: $baseColor;
        transition: 0.25s;

        &:focus {
          width: 370px;
          border-color: $baseColor;
        }
      }

        a {
          text-align: center;
          border: 0;
          background: $baseColor;
          margin: 25px auto 20px;
          padding: 12px 10px;
          width: 200px;
          outline: none;
          color: $secondColor;
          border-radius: 25px;
          transition: 0.25s;
          cursor: pointer;

        &:hover {
          background: $colorNav;
          border: 2px solid $baseColor;
          color: $secondColor;
        }
      }
    }

    .textLog {
      margin: 0 0 0 20px;
      color: $baseColor;
    }
  }

  .contentMenu {
    width: 100%;
    margin-top: 50px;
    max-width: 500px;
    height: 550px;
    background: $secondColor;
    border-radius: 30px;
    box-shadow: 2px 2px 10px #000;

    .content {

      .brandLogo {

        .logo {
          width: 100%;
          max-width: 250px;
          max-height: 150px;
          margin: 1em auto;
        }
      }
    }

    .contentBtnMenu {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      ul {
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-top: 20px;

        a {
          text-decoration: none;

          li {
            padding: 50px 0;
          }
        }

      }

      .btn-Menu {
        border: 0;
        background: $baseColor;
        display: block;
        margin: 25px auto 5px;
        text-align: center;
        padding: 12px 10px;
        width: 250px;
        outline: none;
        color: $secondColor;
        border-radius: 25px;
        transition: 0.3s ease-in;
        cursor: pointer;

        &:hover {
          background: $colorNav;
          color: $secondColor;
        }

      }
    }




  }

  .contentDescritive {
    width: 100%;
    margin-top: 50px;
    max-width: 650px;
    background: $secondColor;
    border-radius: 30px;
    box-shadow: 2px 2px 10px #000;


    .content {
      .backPage {
        position: absolute;
        right: 90% !important;

        img {
          width: 40px;
          margin: 20px auto;

          &:hover {
            width: 50px;
          }
        }
      }

      .brandLogo {

        .logo {
          width: 100%;
          max-width: 250px;
          max-height: 150px;
          margin: 1em auto;
        }
      }
    }

    .bodyDescritive {
      display: flex;
      justify-content: center !important;
      flex-direction: column;
      align-items: center;

      .textInput {
        font-size: 1.2em;
        color: $baseColor;
        margin-top: 20px;
        text-align: center;
      }

      input[type="text"],
      .enter {
        border: 0;
        background: none;
        display: inline-block;
        margin: 0 auto -10px!important;
        text-align: center;
        border: 2px solid $baseColor;
        padding: 10px 20px;
        width: 400px;
        outline: none;
        color: $baseColor;
        transition: 0.25s;

        &::placeholder {
          color: $textColor;
          font-size: 15px;
        }

        &:focus {

          color: $baseColor;
          font-size: 12px;
          font-weight: bold;

        }
      }

      small {
        color: $textColor;
        text-align: center;
        display: block;
      }

      .variavelPresent {
        display: none;
      }

      .variavelPresentActive {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto;

        p {
          color: $baseColor;
          font-weight: 600;
          margin-bottom: -15px;
        }
      }

      .textVariable {
        display: block;
        margin: 20px auto 0;
        color: $baseColor;
        font-weight: bold;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: $baseColor;
      }

      #modalValue {
        margin-bottom: 0px;
        display: none;

        .textInput2 {
          font-size: 15px;
          color: $textColor;
          margin-top: 20px;
          margin-bottom: 0px;
          text-align: center;
        }
      }


      #modalValue-Active {
        display: block;

        .textInput2 {
          display: block;
          font-weight: bolder;
          font-size: 15px;
          color: $textColor;
          margin-top: 20px;
          margin-bottom: 0px;
          text-align: center;
        }

        .modalPresent {
          display: none;
        }

        .modalPresentActive {
          display: block;
          margin: 0 auto;
          text-align: center;
        }


        #modalPresent {
          padding-bottom: 2px;
        }

        p {
          margin: 0 5px 5px;
          color: $secondColor;
          display: inline-block;
          background: $baseColor;
          padding: 5px 35px;
          border-radius: 30px;
          position: relative;
          box-shadow: .2px .2px 2px #000;

          label {
            margin: auto;
            width: 10px;
            height: 10px;
            top: 0px;
            right: 15px;
            position: absolute;
          }
        }

        input {
          display: block;
          margin-bottom: 15px!important;
        }
      }

      .valorContent {
        margin-top: 10px;

        input {
          display: block;
        }
      }
    }

    #chipsPresent {
      padding: 0 20px;

      #presentText {
        margin: 0 auto;
        padding: 20px;
        text-align: center;

        p {
          margin: 0 5px 5px;
          color: $secondColor;
          display: inline-block;
          background: $baseColor;
          padding: 5px 30px;
          border-radius: 30px;
          position: relative;
          box-shadow: .2px .2px 2px #000;

          label {
            margin: auto;
            width: 10px;
            height: 10px;
            top: 0px;
            right: 15px;
            position: absolute;
          }

        }
      }
    }

    .contentBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0px 20px 20px;

      .btnCalculate,
      a {
        width: 200px;
        padding: 10px 20px;
        background-color: $baseColor;
        border-radius: 25px !important;
        color: $secondColor;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        &:hover {
          background: $colorNav;
          color: $secondColor;
        }
      }
      .d-block{
        p{
          color: $textColor;
          font-size: 20px;
        }
      }

      .btnImport {
        margin: 0 0 20px!important;
        padding: 5px 20px;
        background-color: $baseColor;
        border-radius: 25px;
        color: $secondColor;
        cursor: pointer;

        &:hover {
          background: $colorNav;
          color: $secondColor;
        }
      }
    }
  }

  .content-Result {
    display: none;
    width: 100%;

    h2 {
      text-align: center;
      color: $baseColor;
      padding: 20px;
      display: block;
    }
  }

  .content-ResultActive {
    margin: 0px auto;
    display: block;
    width: 100%;

    .titleResult {
      margin: 0 auto;

      h2 {
        text-align: center;
        color: $baseColor;
        padding: 20px;
        display: block;
      }
    }
    .container {
      .col-xs-12 {
        width: 90%!important;
      }
    }


    #nav-tab {
     
      #nav-table-tab,
      #nav-graphic-tab {
        width: 150px;
        color: $baseColor;

      }
    }
  }

  #tableDemonstration {
    margin: 20px auto;

    tr:nth-child(even) {
      background: rgba($baseColor, $alpha: 0.1);
    }

    .tableTitle {
      font-size: 20px;
      color: $baseColor;
      font-weight: bolder;
    }


    .tdVet {
      border-collapse: collapse;
      text-align: center;
      padding: 6px;
      border-bottom: 2px solid $baseColor;

      p {
        color: $baseColor;
        margin-bottom: 0;
      }
    }

    .tableLines {
      border-left: 2px solid $baseColor;

    }

  }

  #tableDemonstration-Medias {
    margin: 0 auto;
    tr:nth-child(even) {
      background: rgba($baseColor, $alpha: 0.1);

    }

    .tableTitle {
      font-size: 18px;
      color: $baseColor;
      font-weight: bolder;
      margin-bottom: 0;
      padding: 0;
    }


    .tdVet {
      border-collapse: collapse;
      text-align: center;
      border-bottom: 2px solid $baseColor;

      p {
        color: $baseColor;
        margin-bottom: 0;
      }
    }

    .tableLines {
      border-left: 2px solid $baseColor;

    }

  }

  #nav-profile {
    width: 100% !important;
    max-width: 620px !important;

    canvas {
      margin: 0 auto;
    }
  }

  .reloadPage,.clearPage,.clearPageBinomial,.clearPageNormal {
    margin: 0 auto 20px;
    text-align: center;
    padding: 20px;

    input[type="button"] {
      border: 0;
      background: $baseColor;
      display: block;
      margin: 25px auto;
      text-align: center;
      padding: 12px 10px;
      width: 250px;
      outline: none;
      color: $secondColor;
      border-radius: 25px;
      transition: 0.25s;

      &:hover {
        background: $colorNav;
        color: $secondColor;
      }
    }
  }

  .breakerContent {
    margin: 20px auto 20px;
    text-align: center;

    .textInput {
      font-size: 20px;
      color: $baseColor;

    }

    .selectBreaker {
      .textVariable {
        display: block;
        margin: 20px auto 10px;
        color: $baseColor;
        font-weight: bold;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: $baseColor;
      }

      .container {
        #inputBreaker {
          width: 200px;
        }

        input[type='range'],
        input[type='range']::-webkit-slider-runnable-track,
        input[type='range']::-webkit-slider-thumb {
          -webkit-appearance: none;
        }

        input[type=range]::-webkit-slider-thumb {
          background-color: $secondColor;
          width: 20px;
          height: 20px;
          border: 3px solid $baseColor;
          border-radius: 50%;
          margin-top: -9px;
        }

        input[type=range]::-moz-range-thumb {
          background-color: $secondColor;
          width: 15px;
          height: 15px;
          border: 3px solid $baseColor;
          border-radius: 50%;
        }

        input[type=range]::-ms-thumb {
          background-color: $secondColor;
          width: 20px;
          height: 20px;
          border: 3px solid $baseColor;
          border-radius: 50%;
        }

        input[type=range]::-webkit-slider-runnable-track {
          background-color: $baseColor;
          height: 3px;
        }

        input[type=range]:focus::-webkit-slider-runnable-track {
          outline: none;
        }

        input[type=range]::-moz-range-track {
          background-color: $baseColor;
          height: 3px;
        }

        input[type=range]::-ms-track {
          background-color: $baseColor;
          height: 3px;
        }

        input[type=range]::-ms-fill-lower {
          background-color: #000;
        }

        input[type=range]::-ms-fill-upper {
          background-color: black;
        }

        #etiqueta {
          margin: 0 auto;
          color: $secondColor;
          font-weight: bold;
          background-color: $baseColor;
          width: 40px;
          height: 30px;
          font-size: 1em;
          text-align: center;
          display: none;
          justify-content: center;
          align-items: center;
        }
      }
      
    }

    .contentBtn {
      .btnCalculate2 {
        padding: 10px 20px;
        background-color: $baseColor;
        border-radius: 25px;
        color: $secondColor;
        cursor: pointer;

        &:hover {
          background: $colorNav;
          color: $secondColor;
        }
      }
    }
    .content-Breaker-Result{
      #sepTexResult{
        color: $textColor;
        font-size: 20px;
      }
    }
  }

  .contentProbability {
    width: 100%;
    margin-top: 50px;
    max-width: 500px;
    background: $secondColor;
    border-radius: 30px;
    box-shadow: 2px 2px 10px #000;


    .content {
      .backPage {
        position: absolute;
        right: 90% !important;

        img {
          width: 40px;
          margin: 20px auto;

          &:hover {
            width: 50px;
          }
        }
      }

      .brandLogo {

        .logo {
          width: 100%;
          max-width: 250px;
          max-height: 150px;
          margin: 1em auto;
        }
      }
    }

    .selectDistribution {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 10px;
      margin: auto;

      .col-xs-12 {
        nav {
          .nav-tabs {
            border-bottom: none;
            display: flex;
            margin: 0 auto;
            align-items: center;

            a {
              background: $baseColor;
              padding: 10px 30px;
              color: $secondColor;
              border-radius: 30px;
              margin: 0 10px;

              &:focus {
                color: $secondColor;
                background: $colorNav;
              }

              &:hover {
                color: $secondColor;
                background: $colorNav;
              }
            }
          }
        }

        #nav-tabContent {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 460px;

          .tab-pane {

            .titleDefault {
              color: $textColor;
              font-size: 24px;
              margin: 20px auto 10px;
              text-align: center;
            }

            /*Uniforme*/
            .row {
              display: flex;
              justify-content: center;

              div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 20px;

                span {
                  color: $baseColor;
                }

                input[type="number"] {
                  width: 150px;
                  border: 1px solid $textColor;
                  text-align: center;
                  color: $baseColor;
                }
              }

              .selectLenght {
               margin: 20 auto 0!important;
                display: flex;

                #selectLenght {
                  display: flex;
                  justify-content: start;
                  align-items: flex-start;
                  width: 100%;
                  text-align: center;
                  text-align-last: center;
                  color: $baseColor;
                  font-weight: bold;
                  border-top: none;
                  border-left: none;
                  border-right: none;
                  border-color: $baseColor;
                }
              }

              .intervalValue {
                .inputInsert {
                  margin: 20px 0 0 !important;

                  input[type="number"] {
                    display: flex;
                    margin: 0 auto;
                    width: 200px;
                    border: 1px solid $textColor;
                    text-align: center;

                  }

                  #inputInsertSmaller {}

                  #inputInsertBigger {}

                  span {
                    margin: 10px 5px;
                    display: inline-block;
                  }

                  .text-spacing {
                    margin-left: 10px;
                  }

                  .inputInsertMiddle {
                    margin: 5px;

                  }
                }
              }
            }

            .row {
              .buttonCalc {
                display: flex;
                margin: 20px auto;
                width: 100%;

                #btnProbCalc {
                  width: 100px;
                  border-radius: 30px;
                  background: $baseColor;
                  color: $secondColor;
                  text-align: center;
                  padding: 10px;

                  &:hover {
                    background: $colorNav;
                    color: $secondColor;
                  }
                }
              }
            }

            .row {
              .resultPresentation {
                .textPresentation {
                  color: $baseColor;
                  font-size: 16px;
                }
              }
            }

            /*Binomial*/
            .row {
              .sampleSize {
                margin-top: 20px;

                .textSample {
                  color: $textColor;
                  font-size: 18px;
                }

                input[type="text"] {
                  padding: 5px 30px;
                  border: 1px solid $baseColor;
                  color: $baseColor;
                  margin: 0 10px;
                }
              }

              .successFailure {
                margin: 25px auto;
                display: flex;
                flex-direction: row;

                .success {
                  padding: 0 !important;

                  .textSample {
                    color: $textColor;
                    font-size: 18px;
                  }
                }

                .failure {
                  padding: 0 !important;

                  .textSample {
                    color: $textColor;
                    font-size: 18px;
                  }
                }

                input[type="text"] {
                  max-width: 150px;
                  padding: 5px 30px;
                  border: 1px solid $baseColor;
                  color: $baseColor;
                  margin: 0 10px;
                }
              }

              .selectLenght {
                margin-top: 20px;
                display: flex;

                #selectBinomialLenght {
                  display: flex;
                  justify-content: start;
                  align-items: flex-start;
                  width: 100%;
                  text-align: center;
                  text-align-last: center;
                  color: $baseColor;
                  font-weight: bold;
                  border-top: none;
                  border-left: none;
                  border-right: none;
                  border-color: $baseColor;
                }
              }

              .event {
                .textSample {
                  margin-top: 20px;
                  color: $textColor;
                  font-size: 18px;
                }

                input[type="text"] {
                  max-width: 550px;
                  padding: 5px 30px;
                  border: 1px solid $baseColor;
                  color: $baseColor;
                  margin: 0 10px;
                }
              }

              .buttonCalc {
                #btnBinomialCalc {
                  width: 150px;
                  border-radius: 30px;
                  background: $baseColor;
                  color: $secondColor;
                  text-align: center;
                  padding: 10px;

                  &:hover {
                    background: $colorNav;
                    color: $secondColor;
                  }
                }
              }

              .resultPresentation {
                .textPresentation {
                  font-size: 16px;
                  color: $baseColor;
                }
              }

              /*NOrmal*/
              .valuesNormal {
                display: flex;
                flex-direction: row;

                .textSample {
                  color: $textColor;
                  font-size: 18px;
                }

                input[type="text"] {
                  margin-top: -10px !important;
                  max-width: 150px;
                  padding: 5px 30px;
                  border: 1px solid $baseColor;
                  color: $baseColor;
                  margin: 0 10px;
                }

                .mean {
                  padding: 0 5px !important;
                }

                .diversion {
                  padding: 0 5px !important;
                }

                .variance {
                  padding: 0 5px !important;
                }
              }

              .selectLenght {
                #selectNormalLenght {
                  display: flex;
                  justify-content: start;
                  align-items: flex-start;
                  width: 100%;
                  text-align: center;
                  text-align-last: center;
                  color: $baseColor;
                  font-weight: bold;
                  border-top: none;
                  border-left: none;
                  border-right: none;
                  border-color: $baseColor;
                }
              }

              .valueNormal {
                .textSample {
                  margin-top: 20px;
                  color: $textColor;
                  font-size: 18px;
                }

                input[type="text"] {
                  margin-top: 10px !important;
                  max-width: 150px;
                  padding: 5px 30px;
                  border: 1px solid $baseColor;
                  color: $baseColor;
                  margin: 0 10px;
                }
              }

              .buttonCalc {
                #btnNormalCalc {
                  width: 150px;
                  border-radius: 30px;
                  background: $baseColor;
                  color: $secondColor;
                  text-align: center;
                  padding: 10px;

                  &:hover {
                    background: $colorNav;
                    color: $secondColor;
                  }
                }
              }

              .resultPresentation {
                .divDesabled {
                  display: none;
                }

                .divActive {
                  display: block;
                  font-size: 20px;
                  color: $baseColor;
                }
              }

            }
          }
        }
      }
    }
  }

  .contentCorrelation {
    width: 100%;
    margin-top: 50px;
    max-width: 620px;
    background: $secondColor;
    border-radius: 30px;
    box-shadow: 2px 2px 10px #000;


    .content {
      .backPage {
        position: absolute;
        right: 90% !important;

        img {
          width: 40px;
          margin: 20px auto;

          &:hover {
            width: 50px;
          }
        }
      }

      .brandLogo {

        .logo {
          width: 100%;
          max-width: 250px;
          max-height: 150px;
          margin: 1em auto;
        }
      }
    }

    .contentData {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 5px;
      text-align: center;

      p {
        color: $baseColor;
        font-weight: 600;
      }

      input[type="text"] {
        margin-top:  !important;
        max-width: 300px;
        padding: 5px 30px;
        border: 1px solid $baseColor;
        color: $baseColor;
        margin: -10px 10px 20px;
        &::placeholder{
          font-size: 15px;
        }
      }
      .IndepValue,.depValue{
        display: none;
      }
      .IndepValue-Active,.depValue-Active{
        display: block;
      }

      small {
        color: $baseColor;
        margin-top: -20px;
      }

      .IndepApresent {
        display: none;
      }

      .IndepApresent-Active {
        display: block;
        margin: 0 auto;
        text-align: center;

        p {
          margin: 0 5px 5px;
          color: $secondColor;
          display: inline-block;
          background: $baseColor;
          padding: 5px 35px;
          border-radius: 30px;
          position: relative;
          box-shadow: .2px .2px 2px #000;

          label {
            margin: auto;
            width: 10px;
            height: 10px;
            top: 0px;
            right: 15px;
            position: absolute;
          }
        }
      }

      .DepApresent {
        display: none;
      }

      .DepApresent-Active {
        display: block;
        margin: 0 auto;
        text-align: center;

        p {
          margin: 0 5px 5px;
          color: $secondColor;
          display: inline-block;
          background: $baseColor;
          padding: 5px 35px;
          border-radius: 30px;
          position: relative;
          box-shadow: .2px .2px 2px #000;

          label {
            margin: auto;
            width: 10px;
            height: 10px;
            top: 0px;
            right: 15px;
            position: absolute;
          }
        }
      }
    }

    .row {
      display: flex;
      justify-content: center;

      .btn-Calc {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        small{
          color: $baseColor;
          font-size: 20px;
        }

        button,.btnImport {
          margin: 20px 5px;
          width: 200px;
          border-radius: 30px;
          background: $baseColor;
          color: $secondColor;
          text-align: center;
          padding: 10px;

          &:hover{
            background: $colorNav;
            color: $secondColor;
          }
        }
      }
    }
    #apresent{
      width: 100%;
      .textCorrelation{
        text-align: center;
        color: $baseColor;
      }
    }
    
    .apresentChat{
      display: none;
    }
    .apresentChat-Active{
      display: block;
      
      .container{
        #nav-profile{
          width: 100%;
          #container{
            > div{
              text-align: center!important;
            }
            svg{
              max-width: 600px!important;
            }
          }
        }
      }
    }
    #projection{
      display: none;
      margin: 0 auto 20px;
      .contentTitle{
        .title{
          color: $baseColor;
          text-align: center;
        }
      }
      .contentSelectProj{
        #selectProject{
          span{
            color: $baseColor;
          }
          #selectProjectionLenght{
            width: 150px;
            text-align: center;
            text-align-last: center;
            color: $baseColor;
            font-weight: bold;
            border-top: none;
            border-left: none;
            border-right: none;
            border-color: $baseColor;
          }
          #valueprojectInput{
            margin: 20px 5px;
            width: 110px;
            border-radius: 15px;
            background: none;
            color: $baseColor;
            border: 1px solid $baseColor;
            text-align: center;
            padding: 5px;
          }
        }
      }
      .contentBtn{
        margin: 0 auto;
        text-align: center;
        #CalcProject{
          margin: 20px 5px;
          width: 110px;
          border-radius: 15px;
          background: $baseColor;
          color: $secondColor;
          text-align: center;
          padding: 5px;
          box-shadow: none!important;
          &:hover{
            background: $secondColor;
            color: $baseColor;
            border: 1px solid $baseColor;
            
          }
        }
      } 
    }
    #apresent2{
      p{
        color: $textColor;
        font-size: 18px;
      }
    }
  }
}



.accessibilityContent{
  position: sticky;
  left: 0;
  bottom: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $secondColor;
  border-color: #000;
  width: 120px;
  height: 130px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 1px 1px 1px 1px $colorNav;
  
  .row{
    img{
      width: 60px;
      margin: 0 auto 20px;
    }
    input[type="button"]{
      background: $colorNav;
      border:none;
      color: $secondColor;
      margin: 0 5px;
      padding:5px 10px;
      &:hover{
        background: $textColor;
        padding: 5px 12px;
      }
    }
  }
}




@media screen and (max-width:1024px) {
  .fullContainer {
    .contentDescritive {
      margin-top: 60px;

      .content {
        .backPage {
          position: absolute;
          right: 65% !important;

          img {
            width: 50px !important;
          }
        }
      }
    }

    .contentProbability {
      .content {
        .backPage {
          position: absolute;
          right: 65% !important;

          img {
            width: 50px !important;
          }
        }
      }
    }

    .contentCorrelation {
      .content {
        .backPage {
          position: absolute;
          right: 65% !important;

          img {
            width: 50px !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width:768px) {
  .navContent .navbar-collapse .navbar-nav a {
    color: $secondColor;
    font-size: 14px;
    padding: 10px 30px;
    font-weight: bold;

    &:hover {
      background: $secondColor;
      color: $baseColor;
    }
  }

  .fullContainer {
    .contentDescritive {
      .content {
        .backPage {
          position: absolute;
          right: 70% !important;


          img {
            width: 40px !important;
          }
        }
      }
    }

    .contentProbability {
      .content {
        .backPage {
          position: absolute;
          right: 70% !important;

          img {
            width: 40px !important;
          }
        }
      }
    }

    .contentCorrelation {
      .content {
        .backPage {
          position: absolute;
          right: 70% !important;

          img {
            width: 40px !important;
          }
        }
      }
    }
  }
}


@media screen and (max-width:575px) {
  .fullContainer {
    .contentDescritive {
      margin-top: 70px;

      .content {
        .backPage {
          position: absolute;
          right: 75% !important;

          img {
            width: 40px !important;
          }
        }
      }

      .bodyDescritive {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .textInput {
          display: block;
          font-size: 1.2em;
          color: $baseColor;
          margin-top: 20px;
          text-align: center;
        }



        input[type="text"],
        .enter {
          margin: 0 auto 20px;
          padding: 10px 20px;
          width: 300px !important;
          height: 60px;
        }
      }
    }

    .contentProbability {
      .content {
        .backPage {
          position: absolute;
          right: 75% !important;

          img {
            width: 40px !important;
          }
        }
      }
    }

    .contentCorrelation {
      .content {
        .backPage {
          position: absolute;
          right: 75% !important;

          img {
            width: 40px !important;
          }
        }
      }

      .row {
        display: flex;
        justify-content: center;

        .btn-Calc {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;

          button {
            margin: 10px 5px;
            width: 200px;
            border-radius: 30px;
            background: $baseColor;
            color: $secondColor;
            border: 1px solid $baseColor;
            text-align: center;
            padding: 5px;
          }
        }
      }
      .apresentChat-Active{
        #container{
            svg{
              max-width: 370px!important;
            }
          }
      }
    }

    .selectDistribution {
      .col-xs-12 {
        nav {
          .nav-tabs {
            a {
              padding: 10px 20px !important;
            }
          }
        }

        #nav-tabContent {
          .tab-pane {

            .titleDefault {
              color: $textColor;
              font-size: 20px;
            }
          }
        }
      }
    }

    .backPage {
      position: absolute;
      right: 75% !important;
    }
  }
  .accessibilityContent{
    position: sticky;
    left: 0;
    bottom: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $secondColor;
    width: 50px;
    height: 200px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    .row{
      display: flex;
      flex-direction: column;
      img{
        width: 35px;
        margin: 5px auto 10px;
      }
      input[type="button"]{
        background: $colorNav;
        border:none;
        color: $secondColor;
        margin: 5px 5px;
        padding:0px 5px;
      }
    }
  }
}

@media screen and (max-width:450px) {
  .fullContainer {
    .contentDescritive {
      margin-top: 30px;

      .contentLog {

        input[type="email"],
        input[type="password"] {
          width: 260px;
          height: 50px;

          &:hover {
            width: 260px;
          }
        }
      }

      .textLog {
        text-align: left;
        margin: 0 0 1rem 20px;
        color: $baseColor;
      }
    }

    .bodyDescritive {
      display: flex;
      justify-content: center;

      .textInput {
        font-size: 1.2em;
        color: $baseColor;
        margin-top: 20px;
        text-align: center;
      }

      input[type="text"],
      .enter {
        margin: 0 auto 20px;
        padding: 10px 20px;
        width: 250px !important;
        height: 60px;
        &::placeholder{
          font-size: 12px!important;
        }
      }
    }

    #tableDemonstration {
      margin: 20px auto;

      .tableTitle {
        font-size: 17px;
        color: $baseColor;
        font-weight: bolder;
      }


      .tdVet {
        border-collapse: collapse;
        text-align: center;
        border-bottom: 2px solid $baseColor;
        padding: 5px 0px !important;
        margin: 5px auto !important;

        p {
          font-size: 15px;
          color: $baseColor;
          margin-bottom: 0;
          padding: 0px 2px !important;

        }
      }

      .tableLines {
        border-left: 2px solid $baseColor;

      }


    }

    #nav-tab {

      #nav-table-tab,
      #nav-graphic-tab {
        width: 180px !important;
        color: $baseColor;

      }
    }

    #tableDemonstration-Medias {
      margin: 0 auto;

      .tableTitle {
        font-size: 13px;
        color: $baseColor;
        font-weight: bolder;
        margin-bottom: 0;

      }


      .tdVet {
        border-collapse: collapse;
        text-align: center;
        border-bottom: 2px solid $baseColor;
        padding: 5px 10px;


        p {
          color: $baseColor;
          margin-bottom: 0;

        }
      }

      .tableLines {
        border-left: 2px solid $baseColor;

      }

    }

    .selectDistribution {
      .col-xs-12 {
        nav {
          .nav-tabs {
            flex-direction: column;

            a {
              width: 200px;
              margin-bottom: 20px !important;
              padding: 10px 60px !important;
            }
          }
        }

        #nav-tabContent {
          .tab-pane {

            .titleDefault {
              color: $textColor;
              font-size: 20px;
            }

            .row {
              flex-direction: column !important;

              div {
                input[type="text"] {
                  width: 200px !important;
                }
              }

              .selectLenght {
                margin-top: 20px;
                flex-direction: column !important;

                .intervalValue {
                  .inputInsert {
                    margin: 20px auto;

                    input[type="number"] {}
                  }
                }
              }
            }

            .successFailure {
              margin: 25px auto;
              display: flex;
              flex-direction: column !important;

              .success {
                padding: 0 !important;

                .textSample {
                  color: $textColor;
                  font-size: 18px;
                }
              }

              .failure {
                padding: 0 !important;
                margin-top: 15px;

                .textSample {
                  color: $textColor;
                  font-size: 18px;
                }
              }

              input[type="text"] {
                max-width: 150px;
                padding: 5px 30px;
                border: 1px solid $baseColor;
                color: $baseColor;
                margin: 0 10px;
              }
            }

            .valuesNormal {
              display: flex;
              flex-direction: column !important;

              .textSample {
                color: $textColor;
                font-size: 18px;
              }

              input[type="text"] {
                margin-top: 10px !important;
                max-width: 100px;
                padding: 5px 30px;
                border: 1px solid $baseColor;
                color: $baseColor;
                margin: 0 10px;
              }

              .mean {
                padding: 0 5px !important;
              }

              .diversion {
                padding: 0 5px !important;
              }

              .variance {
                padding: 0 5px !important;
              }
            }

            .selectLenght {
              #selectNormalLenght {}
            }
          }
        }
      }
    }
    .contentCorrelation{
      .apresentChat-Active{
        #container{
            svg{
              max-width: 320px!important;
            }
          }
      }
    }
  }
  .accessibilityContent{
    position: sticky;
    left: 0;
    bottom: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $secondColor;
    width: 40px;
    height: 200px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    .row{
      display: flex;
      flex-direction: column;
      img{
        width: 35px;
        margin: 5px auto 10px;
      }
      input[type="button"]{
        background: $colorNav;
        border:none;
        color: $secondColor;
        margin: 5px 5px;
        padding:0px 5px;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .fullContainer {
    .contentDescritive {
      .bodyDescritive {

        input[type="text"],
        .enter {
          margin: 0 auto 20px;
          padding: 10px 20px;
          width: 230px !important;
          height: 20px;
          &::placeholder{
            font-size:9px!important;
          }
        }
      }

      #nav-profile {
        .line-chart {
          max-width: 500px !important;
          max-height: 500px !important;
        }
      }
    }

    .contentProbability {
      #selectNormalLenght {
        max-width: 150px !important;
      }

      #valueNormal {
        max-width: 150px !important;
        margin: 0 auto;

        input[type="text"] {
          max-width: 100px !important;
        }
      }
    }
    #projection{
      margin: 0 auto 20px;
      .contentTitle{
        .title{
          color: $baseColor;
          text-align: center;
        }
      }
      .contentSelectProj{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        span{
          margin: 0 auto 20px!important;
        }
        #selectProjectionLenght{
          margin: 0 auto 10px!important;
        }
        #valueprojectInput{
          margin: 0 auto -5px!important;
        }
      }  
    }
    .contentCorrelation{
      .apresentChat-Active{
        #container{
            svg{
              max-width: 280px!important;
            }
          }
      }
    }
  }
}