body {
  background-color: #469ba7;
  font-family: Arial, Helvetica, sans-serif;
}

.navMobile {
  transition: 0.3s ease-in-out;
}

.navbarMobile-Active {
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
  top: 51px;
  left: 0px;
  background: white;
  padding: 80px;
  z-index: 9;
}
.navbarMobile-Active div a {
  text-align: center;
  padding: 40px;
  color: #469ba7;
  font-size: 1.2em;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.navContent .navbar-collapse .navbar-nav a {
  color: #fff;
  font-size: 18px;
  padding: 10px 30px;
  font-weight: bold;
}
.navContent .navbar-collapse .navbar-nav a:hover {
  background: #fff;
  border-radius: 30px;
  color: #469ba7;
}

.fullContainer {
  display: flex;
  justify-content: center;
}
.fullContainer .contentSection {
  width: 100%;
  margin-top: 50px;
  max-width: 500px;
  height: 550px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 2px 2px 10px #000;
}
.fullContainer .contentSection .content .brandLogo .logo {
  width: 100%;
  max-width: 250px;
  max-height: 150px;
  margin: 1em auto;
}
.fullContainer .contentSection .contentLog {
  margin: 1em;
}
.fullContainer .contentSection .contentLog input[type=email],
.fullContainer .contentSection .contentLog input[type=password] {
  border: 0;
  background: none;
  display: block;
  text-align: center;
  border-bottom: 1.5px solid #469ba7;
  padding: 12px 10px;
  width: 360px;
  height: 50px;
  outline: none;
  color: #469ba7;
  transition: 0.25s;
}
.fullContainer .contentSection .contentLog input[type=email]:focus,
.fullContainer .contentSection .contentLog input[type=password]:focus {
  width: 370px;
  border-color: #469ba7;
}
.fullContainer .contentSection .contentLog input[type=submit] {
  border: 0;
  background: none;
  margin: 25px auto 20px;
  border: 2px solid #469ba7;
  padding: 12px 10px;
  width: 200px;
  outline: none;
  color: #469ba7;
  border-radius: 25px;
  transition: 0.25s;
  cursor: pointer;
}
.fullContainer .contentSection .contentLog input[type=submit]:hover {
  background: #469ba7;
  border: 2px solid #469ba7;
  color: #fff;
}
.fullContainer .contentSection .textLog {
  margin: 0 0 0 20px;
  color: #469ba7;
}
.fullContainer .contentMenu {
  width: 100%;
  margin-top: 50px;
  max-width: 500px;
  height: 550px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 2px 2px 10px #000;
}
.fullContainer .contentMenu .content .brandLogo .logo {
  width: 100%;
  max-width: 250px;
  max-height: 150px;
  margin: 1em auto;
}
.fullContainer .contentMenu .contentBtnMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.fullContainer .contentMenu .contentBtnMenu ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 20px;
}
.fullContainer .contentMenu .contentBtnMenu ul a {
  text-decoration: none;
}
.fullContainer .contentMenu .contentBtnMenu ul a li {
  padding: 50px 0;
}
.fullContainer .contentMenu .contentBtnMenu .btn-Menu {
  border: 0;
  background: none;
  display: block;
  margin: 25px auto 5px;
  text-align: center;
  border: 2px solid #469ba7;
  padding: 12px 10px;
  width: 250px;
  outline: none;
  color: #469ba7;
  border-radius: 25px;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.fullContainer .contentMenu .contentBtnMenu .btn-Menu:hover {
  background: #469ba7;
  color: #fff;
}
.fullContainer .contentDescritive {
  width: 100%;
  margin-top: 50px;
  max-width: 500px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 2px 2px 10px #000;
}
.fullContainer .contentDescritive .content .brandLogo .logo {
  width: 100%;
  max-width: 250px;
  max-height: 150px;
  margin: 1em auto;
}
.fullContainer .contentDescritive .bodyDescritive {
  display: flex;
  justify-content: center;
}
.fullContainer .contentDescritive .bodyDescritive .textInput {
  font-size: 1.2em;
  color: #469ba7;
  margin-top: 20px;
  text-align: center;
}
.fullContainer .contentDescritive .bodyDescritive input[type=text] {
  border: 0;
  background: none;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #469ba7;
  padding: 10px 20px;
  width: 400px;
  outline: none;
  color: #469ba7;
  border-radius: 25px;
  transition: 0.25s;
}
.fullContainer .contentDescritive .bodyDescritive input[type=text]::placeholder {
  color: #469ba7;
}
.fullContainer .contentDescritive .bodyDescritive input[type=text]:focus {
  color: #469ba7;
  font-size: 12px;
  font-weight: bold;
}
.fullContainer .contentDescritive .bodyDescritive small {
  color: #469ba7;
  text-align: center;
  display: block;
}
.fullContainer .contentDescritive .bodyDescritive .variavelPresent {
  display: none;
}
.fullContainer .contentDescritive .bodyDescritive .variavelPresentActive {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
.fullContainer .contentDescritive .bodyDescritive .variavelPresentActive p {
  color: #469ba7;
  font-weight: 600;
  margin-bottom: -15px;
}
.fullContainer .contentDescritive .bodyDescritive .textVariable {
  display: block;
  margin: 20px auto 0;
  color: #469ba7;
  font-weight: bold;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #469ba7;
}
.fullContainer .contentDescritive .bodyDescritive #modalValue {
  margin-bottom: 0px;
  display: none;
}
.fullContainer .contentDescritive .bodyDescritive #modalValue .textInput2 {
  font-size: 15px;
  color: #469ba7;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}
.fullContainer .contentDescritive .bodyDescritive #modalValue-Active {
  display: block;
}
.fullContainer .contentDescritive .bodyDescritive #modalValue-Active .textInput2 {
  display: block;
  font-weight: bolder;
  font-size: 15px;
  color: #469ba7;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}
.fullContainer .contentDescritive .bodyDescritive #modalValue-Active .modalPresent {
  display: none;
}
.fullContainer .contentDescritive .bodyDescritive #modalValue-Active .modalPresentActive {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.fullContainer .contentDescritive .bodyDescritive #modalValue-Active #modalPresent {
  padding-bottom: 2px;
}
.fullContainer .contentDescritive .bodyDescritive #modalValue-Active p {
  margin: 0 5px 5px;
  color: #fff;
  display: inline-block;
  background: #469ba7;
  padding: 5px 35px;
  border-radius: 30px;
  position: relative;
  box-shadow: 0.2px 0.2px 2px #000;
}
.fullContainer .contentDescritive .bodyDescritive #modalValue-Active p label {
  margin: auto;
  width: 10px;
  height: 10px;
  top: 0px;
  right: 15px;
  position: absolute;
}
.fullContainer .contentDescritive .bodyDescritive #modalValue-Active input {
  display: block;
  margin-bottom: 10px;
}
.fullContainer .contentDescritive .bodyDescritive .valorContent {
  margin-top: 10px;
}
.fullContainer .contentDescritive .bodyDescritive .valorContent input {
  display: block;
}
.fullContainer .contentDescritive #chipsPresent {
  padding: 0 20px;
}
.fullContainer .contentDescritive #chipsPresent #presentText {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.fullContainer .contentDescritive #chipsPresent #presentText p {
  margin: 0 5px 5px;
  color: #fff;
  display: inline-block;
  background: #469ba7;
  padding: 5px 30px;
  border-radius: 30px;
  position: relative;
  box-shadow: 0.2px 0.2px 2px #000;
}
.fullContainer .contentDescritive #chipsPresent #presentText p label {
  margin: auto;
  width: 10px;
  height: 10px;
  top: 0px;
  right: 15px;
  position: absolute;
}
.fullContainer .contentDescritive .contentBtn {
  padding: 20px;
}
.fullContainer .contentDescritive .contentBtn .btnCalculate {
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid #469ba7;
  border-radius: 25px;
  color: #469ba7;
  cursor: pointer;
}
.fullContainer .contentDescritive .contentBtn .btnCalculate:hover {
  background: #469ba7;
  color: #fff;
}
.fullContainer .contentDescritive .contentBtn .btnImport {
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid #469ba7;
  border-radius: 25px;
  color: #469ba7;
  cursor: pointer;
}
.fullContainer .contentDescritive .contentBtn .btnImport:hover {
  background: #469ba7;
  color: #fff;
}
.fullContainer .content-Result {
  display: none;
  width: 100%;
}
.fullContainer .content-Result h2 {
  text-align: center;
  color: #469ba7;
  padding: 20px;
  display: block;
}
.fullContainer .content-ResultActive {
  margin: 0px auto;
  display: block;
  width: 100%;
}
.fullContainer .content-ResultActive .titleResult {
  margin: 0 auto;
}
.fullContainer .content-ResultActive .titleResult h2 {
  text-align: center;
  color: #469ba7;
  padding: 20px;
  display: block;
}
.fullContainer .content-ResultActive #nav-tab #nav-table-tab,
.fullContainer .content-ResultActive #nav-tab #nav-graphic-tab {
  width: 150px;
  color: #469ba7;
}
.fullContainer #tableDemonstration {
  margin: 20px auto;
}
.fullContainer #tableDemonstration .tableTitle {
  font-size: 20px;
  color: #469ba7;
  font-weight: bolder;
}
.fullContainer #tableDemonstration .tdVet {
  border-collapse: collapse;
  text-align: center;
  padding: 6px;
  border-bottom: 2px solid #469ba7;
}
.fullContainer #tableDemonstration .tdVet p {
  color: #469ba7;
  margin-bottom: 0;
}
.fullContainer #tableDemonstration .tableLines {
  border-left: 2px solid #469ba7;
}
.fullContainer #tableDemonstration-Medias .tableTitle {
  font-size: 18px;
  color: #469ba7;
  font-weight: bolder;
  margin-bottom: 0;
  padding: 0;
}
.fullContainer #tableDemonstration-Medias .tdVet {
  border-collapse: collapse;
  text-align: center;
  border-bottom: 2px solid #469ba7;
}
.fullContainer #tableDemonstration-Medias .tdVet p {
  color: #469ba7;
  margin-bottom: 0;
}
.fullContainer #tableDemonstration-Medias .tableLines {
  border-left: 2px solid #469ba7;
}
.fullContainer .reloadPage {
  margin: 0 auto 20px;
  text-align: center;
  padding: 20px;
}
.fullContainer .reloadPage input[type=button] {
  border: 0;
  background: none;
  display: block;
  margin: 25px auto;
  text-align: center;
  border: 2px solid #469ba7;
  padding: 12px 10px;
  width: 250px;
  outline: none;
  color: #469ba7;
  border-radius: 25px;
  transition: 0.25s;
}
.fullContainer .reloadPage input[type=button]:hover {
  border-color: #469ba7;
  background: #469ba7;
  color: #fff;
}
.fullContainer .breakerContent {
  margin: 20px auto 20px;
  text-align: center;
}
.fullContainer .breakerContent .textInput {
  font-size: 20px;
  color: #469ba7;
}
@media screen and (max-width: 1024px) {
  .fullContainer .contentSection {
    margin-top: 220px;
  }
}
@media screen and (max-width: 768px) {
  .navContent .navbar-collapse .navbar-nav a {
    color: #fff;
    font-size: 14px;
    padding: 10px 30px;
    font-weight: bold;
  }
  .navContent .navbar-collapse .navbar-nav a:hover {
    background: #fff;
    border-radius: 30px;
    color: #469ba7;
  }
}
@media screen and (max-width: 575px) {
  .fullContainer .contentSection {
    margin-top: 70px;
  }
  .fullContainer .bodyDescritive {
    display: flex;
    justify-content: center;
  }
  .fullContainer .bodyDescritive .textInput {
    font-size: 1.2em;
    color: #469ba7;
    margin-top: 20px;
    text-align: center;
  }
  .fullContainer .bodyDescritive input[type=text] {
    margin: 0 auto 20px;
    padding: 10px 20px;
    width: 300px !important;
    height: 60px;
  }
}
@media screen and (max-width: 400px) {
  .fullContainer .contentSection {
    margin-top: 10px;
  }
  .fullContainer .contentSection .contentLog input[type=email],
.fullContainer .contentSection .contentLog input[type=password] {
    width: 260px;
    height: 50px;
  }
  .fullContainer .contentSection .contentLog input[type=email]:hover,
.fullContainer .contentSection .contentLog input[type=password]:hover {
    width: 260px;
  }
  .fullContainer .contentSection .textLog {
    text-align: left;
    margin: 0 0 1rem 20px;
    color: #469ba7;
  }
  .fullContainer .bodyDescritive {
    display: flex;
    justify-content: center;
  }
  .fullContainer .bodyDescritive .textInput {
    font-size: 1.2em;
    color: #469ba7;
    margin-top: 20px;
    text-align: center;
  }
  .fullContainer .bodyDescritive input[type=text] {
    margin: 0 auto 20px;
    padding: 10px 20px;
    width: 250px !important;
    height: 60px;
  }
  .fullContainer #tableDemonstration {
    margin: 20px auto;
  }
  .fullContainer #tableDemonstration .tableTitle {
    font-size: 17px;
    color: #469ba7;
    font-weight: bolder;
  }
  .fullContainer #tableDemonstration .tdVet {
    border-collapse: collapse;
    text-align: center;
    border-bottom: 2px solid #469ba7;
    padding: 5px 0px !important;
    margin: 5px auto !important;
  }
  .fullContainer #tableDemonstration .tdVet p {
    font-size: 15px;
    color: #469ba7;
    margin-bottom: 0;
    padding: 0px 2px !important;
  }
  .fullContainer #tableDemonstration .tableLines {
    border-left: 2px solid #469ba7;
  }
  .fullContainer #nav-tab #nav-table-tab,
.fullContainer #nav-tab #nav-graphic-tab {
    width: 100px !important;
    color: #469ba7;
  }
  .fullContainer #tableDemonstration-Medias {
    margin: 0 auto;
  }
  .fullContainer #tableDemonstration-Medias .tableTitle {
    font-size: 13px;
    color: #469ba7;
    font-weight: bolder;
    margin-bottom: 0;
  }
  .fullContainer #tableDemonstration-Medias .tdVet {
    border-collapse: collapse;
    text-align: center;
    border-bottom: 2px solid #469ba7;
    padding: 5px 10px;
  }
  .fullContainer #tableDemonstration-Medias .tdVet p {
    color: #469ba7;
    margin-bottom: 0;
  }
  .fullContainer #tableDemonstration-Medias .tableLines {
    border-left: 2px solid #469ba7;
  }
}

/*# sourceMappingURL=output.css.map */
