body {
  background-color: #2a838f;
  font-family: Arial, Helvetica, sans-serif;
}

.navMobile {
  transition: 0.3s ease-in-out;
}

.navbarMobile-Active {
  width: 100%;
  display: flex;
  position: absolute;
  top: 51px;
  left: 0px;
  background: white;
  padding: 80px;
  z-index: 9;
}
.navbarMobile-Active div a {
  text-align: center;
  padding: 40px;
  color: #2a838f;
  font-size: 1.2em;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.navContent {
  height: 55px;
  background: #1D5259;
}

.navContent .navbar-collapse .navbar-nav a {
  color: #fff;
  font-size: 18px;
  padding: 10px 30px;
  font-weight: bold;
}
.navContent .navbar-collapse .navbar-nav a:hover {
  background: #fff;
  color: #2a838f;
  border-bottom: 1px solid #1D5259;
}

#text-Menu {
  display: flex;
  justify-content: center;
  margin: 5px 70px 0;
}

.fullContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.fullContainer .contentSection {
  width: 100%;
  margin-top: 50px;
  max-width: 500px;
  height: 550px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 2px 2px 10px #000;
}
.fullContainer .contentSection .content .backPage {
  position: absolute;
  right: 60%;
}
.fullContainer .contentSection .content .backPage img {
  width: 40px;
  margin: 20px;
}
.fullContainer .contentSection .content .brandLogo .logo {
  width: 100%;
  max-width: 250px;
  max-height: 150px;
  margin: 1em auto;
}
.fullContainer .contentSection .contentLog {
  margin: 1em;
}
.fullContainer .contentSection .contentLog input[type=email],
.fullContainer .contentSection .contentLog input[type=password] {
  border: 0;
  background: none;
  display: block;
  text-align: center;
  border-bottom: 1.5px solid #2a838f;
  padding: 12px 10px;
  width: 360px;
  height: 50px;
  outline: none;
  color: #2a838f;
  transition: 0.25s;
}
.fullContainer .contentSection .contentLog input[type=email]:focus,
.fullContainer .contentSection .contentLog input[type=password]:focus {
  width: 370px;
  border-color: #2a838f;
}
.fullContainer .contentSection .contentLog input[type=submit] {
  border: 0;
  background: none;
  margin: 25px auto 20px;
  border: 2px solid #2a838f;
  padding: 12px 10px;
  width: 200px;
  outline: none;
  color: #2a838f;
  border-radius: 25px;
  transition: 0.25s;
  cursor: pointer;
}
.fullContainer .contentSection .contentLog input[type=submit]:hover {
  background: #2a838f;
  border: 2px solid #2a838f;
  color: #fff;
}
.fullContainer .contentSection .textLog {
  margin: 0 0 0 20px;
  color: #2a838f;
}
.fullContainer .contentMenu {
  width: 100%;
  margin-top: 50px;
  max-width: 500px;
  height: 550px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 2px 2px 10px #000;
}
.fullContainer .contentMenu .content .brandLogo .logo {
  width: 100%;
  max-width: 250px;
  max-height: 150px;
  margin: 1em auto;
}
.fullContainer .contentMenu .contentBtnMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.fullContainer .contentMenu .contentBtnMenu ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 20px;
}
.fullContainer .contentMenu .contentBtnMenu ul a {
  text-decoration: none;
}
.fullContainer .contentMenu .contentBtnMenu ul a li {
  padding: 50px 0;
}
.fullContainer .contentMenu .contentBtnMenu .btn-Menu {
  border: 0;
  background: none;
  display: block;
  margin: 25px auto 5px;
  text-align: center;
  border: 2px solid #2a838f;
  padding: 12px 10px;
  width: 250px;
  outline: none;
  color: #2a838f;
  border-radius: 25px;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.fullContainer .contentMenu .contentBtnMenu .btn-Menu:hover {
  background: #2a838f;
  color: #fff;
}
.fullContainer .contentDescritive {
  width: 100%;
  margin-top: 50px;
  max-width: 650px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 2px 2px 10px #000;
}
.fullContainer .contentDescritive .content .backPage {
  position: absolute;
  right: 90% !important;
}
.fullContainer .contentDescritive .content .backPage img {
  width: 40px;
  margin: 20px auto;
}
.fullContainer .contentDescritive .content .backPage img:hover {
  width: 50px;
}
.fullContainer .contentDescritive .content .brandLogo .logo {
  width: 100%;
  max-width: 250px;
  max-height: 150px;
  margin: 1em auto;
}
.fullContainer .contentDescritive .bodyDescritive {
  display: flex;
  justify-content: center !important;
  flex-direction: column;
  align-items: center;
}
.fullContainer .contentDescritive .bodyDescritive .textInput {
  font-size: 1.2em;
  color: #2a838f;
  margin-top: 20px;
  text-align: center;
}
.fullContainer .contentDescritive .bodyDescritive input[type=text],
.fullContainer .contentDescritive .bodyDescritive .enter {
  border: 0;
  background: none;
  display: inline-block;
  margin: 0 auto -10px !important;
  text-align: center;
  border: 2px solid #2a838f;
  padding: 10px 20px;
  width: 400px;
  outline: none;
  color: #2a838f;
  transition: 0.25s;
}
.fullContainer .contentDescritive .bodyDescritive input[type=text]::placeholder,
.fullContainer .contentDescritive .bodyDescritive .enter::placeholder {
  color: #0D3C42;
  font-size: 15px;
}
.fullContainer .contentDescritive .bodyDescritive input[type=text]:focus,
.fullContainer .contentDescritive .bodyDescritive .enter:focus {
  color: #2a838f;
  font-size: 12px;
  font-weight: bold;
}
.fullContainer .contentDescritive .bodyDescritive small {
  color: #0D3C42;
  text-align: center;
  display: block;
}
.fullContainer .contentDescritive .bodyDescritive .variavelPresent {
  display: none;
}
.fullContainer .contentDescritive .bodyDescritive .variavelPresentActive {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
.fullContainer .contentDescritive .bodyDescritive .variavelPresentActive p {
  color: #2a838f;
  font-weight: 600;
  margin-bottom: -15px;
}
.fullContainer .contentDescritive .bodyDescritive .textVariable {
  display: block;
  margin: 20px auto 0;
  color: #2a838f;
  font-weight: bold;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #2a838f;
}
.fullContainer .contentDescritive .bodyDescritive #modalValue {
  margin-bottom: 0px;
  display: none;
}
.fullContainer .contentDescritive .bodyDescritive #modalValue .textInput2 {
  font-size: 15px;
  color: #0D3C42;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}
.fullContainer .contentDescritive .bodyDescritive #modalValue-Active {
  display: block;
}
.fullContainer .contentDescritive .bodyDescritive #modalValue-Active .textInput2 {
  display: block;
  font-weight: bolder;
  font-size: 15px;
  color: #0D3C42;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}
.fullContainer .contentDescritive .bodyDescritive #modalValue-Active .modalPresent {
  display: none;
}
.fullContainer .contentDescritive .bodyDescritive #modalValue-Active .modalPresentActive {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.fullContainer .contentDescritive .bodyDescritive #modalValue-Active #modalPresent {
  padding-bottom: 2px;
}
.fullContainer .contentDescritive .bodyDescritive #modalValue-Active p {
  margin: 0 5px 5px;
  color: #fff;
  display: inline-block;
  background: #2a838f;
  padding: 5px 35px;
  border-radius: 30px;
  position: relative;
  box-shadow: 0.2px 0.2px 2px #000;
}
.fullContainer .contentDescritive .bodyDescritive #modalValue-Active p label {
  margin: auto;
  width: 10px;
  height: 10px;
  top: 0px;
  right: 15px;
  position: absolute;
}
.fullContainer .contentDescritive .bodyDescritive #modalValue-Active input {
  display: block;
  margin-bottom: 15px !important;
}
.fullContainer .contentDescritive .bodyDescritive .valorContent {
  margin-top: 10px;
}
.fullContainer .contentDescritive .bodyDescritive .valorContent input {
  display: block;
}
.fullContainer .contentDescritive #chipsPresent {
  padding: 0 20px;
}
.fullContainer .contentDescritive #chipsPresent #presentText {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.fullContainer .contentDescritive #chipsPresent #presentText p {
  margin: 0 5px 5px;
  color: #fff;
  display: inline-block;
  background: #2a838f;
  padding: 5px 30px;
  border-radius: 30px;
  position: relative;
  box-shadow: 0.2px 0.2px 2px #000;
}
.fullContainer .contentDescritive #chipsPresent #presentText p label {
  margin: auto;
  width: 10px;
  height: 10px;
  top: 0px;
  right: 15px;
  position: absolute;
}
.fullContainer .contentDescritive .contentBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 20px 20px;
}
.fullContainer .contentDescritive .contentBtn .btnCalculate,
.fullContainer .contentDescritive .contentBtn a {
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid #2a838f !important;
  border-radius: 25px !important;
  color: #2a838f;
  cursor: pointer;
}
.fullContainer .contentDescritive .contentBtn .btnCalculate:hover,
.fullContainer .contentDescritive .contentBtn a:hover {
  background: #2a838f;
  color: #fff;
}
.fullContainer .contentDescritive .contentBtn .d-block p {
  color: #0D3C42;
  font-size: 20px;
}
.fullContainer .contentDescritive .contentBtn .btnImport {
  margin: 0 0 20px !important;
  padding: 5px 20px;
  background-color: #fff;
  border: 2px solid #2a838f;
  border-radius: 25px;
  color: #2a838f;
  cursor: pointer;
}
.fullContainer .contentDescritive .contentBtn .btnImport:hover {
  background: #2a838f;
  color: #fff;
}
.fullContainer .content-Result {
  display: none;
  width: 100%;
}
.fullContainer .content-Result h2 {
  text-align: center;
  color: #2a838f;
  padding: 20px;
  display: block;
}
.fullContainer .content-ResultActive {
  margin: 0px auto;
  display: block;
  width: 100%;
}
.fullContainer .content-ResultActive .titleResult {
  margin: 0 auto;
}
.fullContainer .content-ResultActive .titleResult h2 {
  text-align: center;
  color: #2a838f;
  padding: 20px;
  display: block;
}
.fullContainer .content-ResultActive .container .col-xs-12 {
  width: 90% !important;
}
.fullContainer .content-ResultActive #nav-tab #nav-table-tab,
.fullContainer .content-ResultActive #nav-tab #nav-graphic-tab {
  width: 150px;
  color: #2a838f;
}
.fullContainer #tableDemonstration {
  margin: 20px auto;
}
.fullContainer #tableDemonstration tr:nth-child(even) {
  background: rgba(42, 131, 143, 0.1);
}
.fullContainer #tableDemonstration .tableTitle {
  font-size: 20px;
  color: #2a838f;
  font-weight: bolder;
}
.fullContainer #tableDemonstration .tdVet {
  border-collapse: collapse;
  text-align: center;
  padding: 6px;
  border-bottom: 2px solid #2a838f;
}
.fullContainer #tableDemonstration .tdVet p {
  color: #2a838f;
  margin-bottom: 0;
}
.fullContainer #tableDemonstration .tableLines {
  border-left: 2px solid #2a838f;
}
.fullContainer #tableDemonstration-Medias {
  margin: 0 auto;
}
.fullContainer #tableDemonstration-Medias tr:nth-child(even) {
  background: rgba(42, 131, 143, 0.1);
}
.fullContainer #tableDemonstration-Medias .tableTitle {
  font-size: 18px;
  color: #2a838f;
  font-weight: bolder;
  margin-bottom: 0;
  padding: 0;
}
.fullContainer #tableDemonstration-Medias .tdVet {
  border-collapse: collapse;
  text-align: center;
  border-bottom: 2px solid #2a838f;
}
.fullContainer #tableDemonstration-Medias .tdVet p {
  color: #2a838f;
  margin-bottom: 0;
}
.fullContainer #tableDemonstration-Medias .tableLines {
  border-left: 2px solid #2a838f;
}
.fullContainer #nav-profile {
  width: 100% !important;
  max-width: 620px !important;
}
.fullContainer #nav-profile canvas {
  margin: 0 auto;
}
.fullContainer .reloadPage {
  margin: 0 auto 20px;
  text-align: center;
  padding: 20px;
}
.fullContainer .reloadPage input[type=button] {
  border: 0;
  background: none;
  display: block;
  margin: 25px auto;
  text-align: center;
  border: 2px solid #2a838f;
  padding: 12px 10px;
  width: 250px;
  outline: none;
  color: #2a838f;
  border-radius: 25px;
  transition: 0.25s;
}
.fullContainer .reloadPage input[type=button]:hover {
  border-color: #2a838f;
  background: #2a838f;
  color: #fff;
}
.fullContainer .breakerContent {
  margin: 20px auto 20px;
  text-align: center;
}
.fullContainer .breakerContent .textInput {
  font-size: 20px;
  color: #2a838f;
}
.fullContainer .breakerContent .selectBreaker .textVariable {
  display: block;
  margin: 20px auto 10px;
  color: #2a838f;
  font-weight: bold;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #2a838f;
}
.fullContainer .breakerContent .selectBreaker .container #inputBreaker {
  width: 200px;
}
.fullContainer .breakerContent .selectBreaker .container input[type=range],
.fullContainer .breakerContent .selectBreaker .container input[type=range]::-webkit-slider-runnable-track,
.fullContainer .breakerContent .selectBreaker .container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.fullContainer .breakerContent .selectBreaker .container input[type=range]::-webkit-slider-thumb {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border: 3px solid #2a838f;
  border-radius: 50%;
  margin-top: -9px;
}
.fullContainer .breakerContent .selectBreaker .container input[type=range]::-moz-range-thumb {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border: 3px solid #2a838f;
  border-radius: 50%;
}
.fullContainer .breakerContent .selectBreaker .container input[type=range]::-ms-thumb {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border: 3px solid #2a838f;
  border-radius: 50%;
}
.fullContainer .breakerContent .selectBreaker .container input[type=range]::-webkit-slider-runnable-track {
  background-color: #2a838f;
  height: 3px;
}
.fullContainer .breakerContent .selectBreaker .container input[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
}
.fullContainer .breakerContent .selectBreaker .container input[type=range]::-moz-range-track {
  background-color: #2a838f;
  height: 3px;
}
.fullContainer .breakerContent .selectBreaker .container input[type=range]::-ms-track {
  background-color: #2a838f;
  height: 3px;
}
.fullContainer .breakerContent .selectBreaker .container input[type=range]::-ms-fill-lower {
  background-color: #000;
}
.fullContainer .breakerContent .selectBreaker .container input[type=range]::-ms-fill-upper {
  background-color: black;
}
.fullContainer .breakerContent .selectBreaker .container #etiqueta {
  margin: 0 auto;
  color: #fff;
  font-weight: bold;
  background-color: #2a838f;
  width: 40px;
  height: 30px;
  font-size: 1em;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
}
.fullContainer .breakerContent .contentBtn .btnCalculate2 {
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid #2a838f;
  border-radius: 25px;
  color: #2a838f;
  cursor: pointer;
}
.fullContainer .breakerContent .contentBtn .btnCalculate2:hover {
  background: #2a838f;
  color: #fff;
}
.fullContainer .contentProbability {
  width: 100%;
  margin-top: 50px;
  max-width: 500px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 2px 2px 10px #000;
}
.fullContainer .contentProbability .content .backPage {
  position: absolute;
  right: 90% !important;
}
.fullContainer .contentProbability .content .backPage img {
  width: 40px;
  margin: 20px auto;
}
.fullContainer .contentProbability .content .backPage img:hover {
  width: 50px;
}
.fullContainer .contentProbability .content .brandLogo .logo {
  width: 100%;
  max-width: 250px;
  max-height: 150px;
  margin: 1em auto;
}
.fullContainer .contentProbability .selectDistribution {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin: auto;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 nav .nav-tabs {
  border-bottom: none;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 nav .nav-tabs a {
  padding: 10px 30px;
  border: 1px solid #2a838f;
  color: #2a838f;
  border-radius: 30px;
  margin: 0 10px;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 nav .nav-tabs a:focus {
  color: #fff;
  background: #2a838f;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 nav .nav-tabs a:hover {
  color: #fff;
  background: #2a838f;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 460px;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane {
  /*Uniforme*/
  /*Binomial*/
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .titleDefault {
  color: #0D3C42;
  font-size: 24px;
  margin: 20px auto 10px;
  text-align: center;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row {
  display: flex;
  justify-content: center;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row div span {
  color: #2a838f;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row div input[type=number] {
  width: 100px;
  border: 1px solid #0D3C42;
  text-align: center;
  color: #2a838f;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .selectLenght {
  margin: 20 auto 0 !important;
  display: flex;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .selectLenght #selectLenght {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
  text-align: center;
  text-align-last: center;
  color: #2a838f;
  font-weight: bold;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #2a838f;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .intervalValue .inputInsert {
  margin: 20px 0 0 !important;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .intervalValue .inputInsert input[type=number] {
  display: flex;
  margin: 0 auto;
  width: 100px;
  border: 1px solid #0D3C42;
  text-align: center;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .intervalValue .inputInsert span {
  margin: 10px 5px;
  display: inline-block;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .intervalValue .inputInsert .text-spacing {
  margin-left: 10px;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .intervalValue .inputInsert .inputInsertMiddle {
  margin: 5px;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .buttonCalc {
  display: flex;
  margin: 20px auto;
  width: 100%;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .buttonCalc #btnProbCalc {
  width: 100px;
  border-radius: 30px;
  background: none;
  color: #2a838f;
  border: 1px solid #2a838f;
  text-align: center;
  padding: 10px;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .buttonCalc #btnProbCalc:hover {
  background: #2a838f;
  color: #fff;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .resultPresentation .textPresentation {
  color: #2a838f;
  font-size: 16px;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row {
  /*NOrmal*/
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .sampleSize {
  margin-top: 20px;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .sampleSize .textSample {
  color: #0D3C42;
  font-size: 18px;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .sampleSize input[type=text] {
  padding: 5px 30px;
  border: 1px solid #2a838f;
  color: #2a838f;
  margin: 0 10px;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .successFailure {
  margin: 25px auto;
  display: flex;
  flex-direction: row;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .successFailure .success {
  padding: 0 !important;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .successFailure .success .textSample {
  color: #0D3C42;
  font-size: 18px;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .successFailure .failure {
  padding: 0 !important;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .successFailure .failure .textSample {
  color: #0D3C42;
  font-size: 18px;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .successFailure input[type=text] {
  max-width: 150px;
  padding: 5px 30px;
  border: 1px solid #2a838f;
  color: #2a838f;
  margin: 0 10px;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .selectLenght {
  margin-top: 20px;
  display: flex;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .selectLenght #selectBinomialLenght {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
  text-align: center;
  text-align-last: center;
  color: #2a838f;
  font-weight: bold;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #2a838f;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .event .textSample {
  margin-top: 20px;
  color: #0D3C42;
  font-size: 18px;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .event input[type=text] {
  max-width: 550px;
  padding: 5px 30px;
  border: 1px solid #2a838f;
  color: #2a838f;
  margin: 0 10px;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .buttonCalc #btnBinomialCalc {
  width: 100px;
  border-radius: 30px;
  background: none;
  color: #2a838f;
  border: 1px solid #2a838f;
  text-align: center;
  padding: 10px;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .buttonCalc #btnBinomialCalc:hover {
  background: #2a838f;
  color: #fff;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .resultPresentation .textPresentation {
  font-size: 16px;
  color: #2a838f;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .valuesNormal {
  display: flex;
  flex-direction: row;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .valuesNormal .textSample {
  color: #0D3C42;
  font-size: 18px;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .valuesNormal input[type=text] {
  margin-top: -10px !important;
  max-width: 100px;
  padding: 5px 30px;
  border: 1px solid #2a838f;
  color: #2a838f;
  margin: 0 10px;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .valuesNormal .mean {
  padding: 0 5px !important;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .valuesNormal .diversion {
  padding: 0 5px !important;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .valuesNormal .variance {
  padding: 0 5px !important;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .selectLenght #selectNormalLenght {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
  text-align: center;
  text-align-last: center;
  color: #2a838f;
  font-weight: bold;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #2a838f;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .valueNormal .textSample {
  margin-top: 20px;
  color: #0D3C42;
  font-size: 18px;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .valueNormal input[type=text] {
  margin-top: 10px !important;
  max-width: 150px;
  padding: 5px 30px;
  border: 1px solid #2a838f;
  color: #2a838f;
  margin: 0 10px;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .buttonCalc #btnNormalCalc {
  width: 100px;
  border-radius: 30px;
  background: none;
  color: #2a838f;
  border: 1px solid #2a838f;
  text-align: center;
  padding: 10px;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .buttonCalc #btnNormalCalc:hover {
  background: #2a838f;
  color: #fff;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .resultPresentation .divDesabled {
  display: none;
}
.fullContainer .contentProbability .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .resultPresentation .divActive {
  display: block;
  font-size: 20px;
  color: #2a838f;
}
.fullContainer .contentCorrelation {
  width: 100%;
  margin-top: 50px;
  max-width: 500px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 2px 2px 10px #000;
}
.fullContainer .contentCorrelation .content .backPage {
  position: absolute;
  right: 90% !important;
}
.fullContainer .contentCorrelation .content .backPage img {
  width: 40px;
  margin: 20px auto;
}
.fullContainer .contentCorrelation .content .backPage img:hover {
  width: 50px;
}
.fullContainer .contentCorrelation .content .brandLogo .logo {
  width: 100%;
  max-width: 250px;
  max-height: 150px;
  margin: 1em auto;
}
.fullContainer .contentCorrelation .contentData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  text-align: center;
}
.fullContainer .contentCorrelation .contentData p {
  color: #2a838f;
  font-weight: 600;
}
.fullContainer .contentCorrelation .contentData input[type=text] {
  margin-top: !important;
  max-width: 300px;
  padding: 5px 30px;
  border: 1px solid #2a838f;
  color: #2a838f;
  margin: -10px 10px 20px;
}
.fullContainer .contentCorrelation .contentData .IndepValue, .fullContainer .contentCorrelation .contentData .depValue {
  display: none;
}
.fullContainer .contentCorrelation .contentData .IndepValue-Active, .fullContainer .contentCorrelation .contentData .depValue-Active {
  display: block;
}
.fullContainer .contentCorrelation .contentData small {
  color: #2a838f;
  margin-top: -20px;
}
.fullContainer .contentCorrelation .contentData .IndepApresent {
  display: none;
}
.fullContainer .contentCorrelation .contentData .IndepApresent-Active {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.fullContainer .contentCorrelation .contentData .IndepApresent-Active p {
  margin: 0 5px 5px;
  color: #fff;
  display: inline-block;
  background: #2a838f;
  padding: 5px 35px;
  border-radius: 30px;
  position: relative;
  box-shadow: 0.2px 0.2px 2px #000;
}
.fullContainer .contentCorrelation .contentData .IndepApresent-Active p label {
  margin: auto;
  width: 10px;
  height: 10px;
  top: 0px;
  right: 15px;
  position: absolute;
}
.fullContainer .contentCorrelation .contentData .DepApresent {
  display: none;
}
.fullContainer .contentCorrelation .contentData .DepApresent-Active {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.fullContainer .contentCorrelation .contentData .DepApresent-Active p {
  margin: 0 5px 5px;
  color: #fff;
  display: inline-block;
  background: #2a838f;
  padding: 5px 35px;
  border-radius: 30px;
  position: relative;
  box-shadow: 0.2px 0.2px 2px #000;
}
.fullContainer .contentCorrelation .contentData .DepApresent-Active p label {
  margin: auto;
  width: 10px;
  height: 10px;
  top: 0px;
  right: 15px;
  position: absolute;
}
.fullContainer .contentCorrelation .row {
  display: flex;
  justify-content: center;
}
.fullContainer .contentCorrelation .row .btn-Calc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fullContainer .contentCorrelation .row .btn-Calc small {
  color: #2a838f;
  font-size: 20px;
}
.fullContainer .contentCorrelation .row .btn-Calc button, .fullContainer .contentCorrelation .row .btn-Calc .btnImport {
  margin: 20px 5px;
  width: 200px;
  border-radius: 30px;
  background: none;
  color: #2a838f;
  border: 1px solid #2a838f;
  text-align: center;
  padding: 10px;
}
.fullContainer .contentCorrelation .row .btn-Calc button:hover, .fullContainer .contentCorrelation .row .btn-Calc .btnImport:hover {
  background: #2a838f;
  color: #fff;
}
.fullContainer .contentCorrelation #apresent {
  width: 100%;
}
.fullContainer .contentCorrelation #apresent .textCorrelation {
  text-align: center;
  color: #2a838f;
}
.fullContainer .contentCorrelation .apresentChat {
  display: none;
}
.fullContainer .contentCorrelation .apresentChat-Active {
  display: block;
}
.fullContainer .contentCorrelation #projection {
  margin: 0 auto 20px;
}
.fullContainer .contentCorrelation #projection .contentTitle .title {
  color: #2a838f;
  text-align: center;
}
.fullContainer .contentCorrelation #projection .contentSelectProj span {
  color: #2a838f;
}
.fullContainer .contentCorrelation #projection .contentSelectProj #selectProjectionLenght {
  width: 150px;
  text-align: center;
  text-align-last: center;
  color: #2a838f;
  font-weight: bold;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #2a838f;
}
.fullContainer .contentCorrelation #projection .contentSelectProj #valueprojectInput {
  margin: 20px 5px;
  width: 110px;
  border-radius: 15px;
  background: none;
  color: #2a838f;
  border: 1px solid #2a838f;
  text-align: center;
  padding: 5px;
}
.fullContainer .contentCorrelation #projection .contentBtn {
  margin: 0 auto;
  text-align: center;
}
.fullContainer .contentCorrelation #projection .contentBtn #Calc {
  margin: 20px 5px;
  width: 110px;
  border-radius: 15px;
  background: none;
  color: #2a838f;
  border: 1px solid #2a838f;
  text-align: center;
  padding: 5px;
}

#footer {
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 1024px) {
  .fullContainer .contentDescritive {
    margin-top: 60px;
  }
  .fullContainer .contentDescritive .content .backPage {
    position: absolute;
    right: 65% !important;
  }
  .fullContainer .contentDescritive .content .backPage img {
    width: 50px !important;
  }
  .fullContainer .contentProbability .content .backPage {
    position: absolute;
    right: 65% !important;
  }
  .fullContainer .contentProbability .content .backPage img {
    width: 50px !important;
  }
  .fullContainer .contentCorrelation .content .backPage {
    position: absolute;
    right: 65% !important;
  }
  .fullContainer .contentCorrelation .content .backPage img {
    width: 50px !important;
  }
}
@media screen and (max-width: 768px) {
  .navContent .navbar-collapse .navbar-nav a {
    color: #fff;
    font-size: 14px;
    padding: 10px 30px;
    font-weight: bold;
  }
  .navContent .navbar-collapse .navbar-nav a:hover {
    background: #fff;
    color: #2a838f;
  }

  .fullContainer .contentDescritive .content .backPage {
    position: absolute;
    right: 70% !important;
  }
  .fullContainer .contentDescritive .content .backPage img {
    width: 40px !important;
  }
  .fullContainer .contentProbability .content .backPage {
    position: absolute;
    right: 70% !important;
  }
  .fullContainer .contentProbability .content .backPage img {
    width: 40px !important;
  }
  .fullContainer .contentCorrelation .content .backPage {
    position: absolute;
    right: 70% !important;
  }
  .fullContainer .contentCorrelation .content .backPage img {
    width: 40px !important;
  }
}
@media screen and (max-width: 575px) {
  .fullContainer .contentDescritive {
    margin-top: 70px;
  }
  .fullContainer .contentDescritive .content .backPage {
    position: absolute;
    right: 75% !important;
  }
  .fullContainer .contentDescritive .content .backPage img {
    width: 40px !important;
  }
  .fullContainer .contentDescritive .bodyDescritive {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .fullContainer .contentDescritive .bodyDescritive .textInput {
    display: block;
    font-size: 1.2em;
    color: #2a838f;
    margin-top: 20px;
    text-align: center;
  }
  .fullContainer .contentDescritive .bodyDescritive input[type=text],
.fullContainer .contentDescritive .bodyDescritive .enter {
    margin: 0 auto 20px;
    padding: 10px 20px;
    width: 300px !important;
    height: 60px;
  }
  .fullContainer .contentProbability .content .backPage {
    position: absolute;
    right: 75% !important;
  }
  .fullContainer .contentProbability .content .backPage img {
    width: 40px !important;
  }
  .fullContainer .contentCorrelation .content .backPage {
    position: absolute;
    right: 75% !important;
  }
  .fullContainer .contentCorrelation .content .backPage img {
    width: 40px !important;
  }
  .fullContainer .contentCorrelation .row {
    display: flex;
    justify-content: center;
  }
  .fullContainer .contentCorrelation .row .btn-Calc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .fullContainer .contentCorrelation .row .btn-Calc button {
    margin: 10px 5px;
    width: 200px;
    border-radius: 30px;
    background: none;
    color: #2a838f;
    border: 1px solid #2a838f;
    text-align: center;
    padding: 5px;
  }
  .fullContainer .selectDistribution .col-xs-12 nav .nav-tabs a {
    padding: 10px 20px !important;
  }
  .fullContainer .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .titleDefault {
    color: #0D3C42;
    font-size: 20px;
  }
  .fullContainer .backPage {
    position: absolute;
    right: 75% !important;
  }
}
@media screen and (max-width: 450px) {
  .fullContainer .contentDescritive {
    margin-top: 30px;
  }
  .fullContainer .contentDescritive .contentLog input[type=email],
.fullContainer .contentDescritive .contentLog input[type=password] {
    width: 260px;
    height: 50px;
  }
  .fullContainer .contentDescritive .contentLog input[type=email]:hover,
.fullContainer .contentDescritive .contentLog input[type=password]:hover {
    width: 260px;
  }
  .fullContainer .contentDescritive .textLog {
    text-align: left;
    margin: 0 0 1rem 20px;
    color: #2a838f;
  }
  .fullContainer .bodyDescritive {
    display: flex;
    justify-content: center;
  }
  .fullContainer .bodyDescritive .textInput {
    font-size: 1.2em;
    color: #2a838f;
    margin-top: 20px;
    text-align: center;
  }
  .fullContainer .bodyDescritive input[type=text],
.fullContainer .bodyDescritive .enter {
    margin: 0 auto 20px;
    padding: 10px 20px;
    width: 250px !important;
    height: 60px;
  }
  .fullContainer .bodyDescritive input[type=text]::placeholder,
.fullContainer .bodyDescritive .enter::placeholder {
    font-size: 12px !important;
  }
  .fullContainer #tableDemonstration {
    margin: 20px auto;
  }
  .fullContainer #tableDemonstration .tableTitle {
    font-size: 17px;
    color: #2a838f;
    font-weight: bolder;
  }
  .fullContainer #tableDemonstration .tdVet {
    border-collapse: collapse;
    text-align: center;
    border-bottom: 2px solid #2a838f;
    padding: 5px 0px !important;
    margin: 5px auto !important;
  }
  .fullContainer #tableDemonstration .tdVet p {
    font-size: 15px;
    color: #2a838f;
    margin-bottom: 0;
    padding: 0px 2px !important;
  }
  .fullContainer #tableDemonstration .tableLines {
    border-left: 2px solid #2a838f;
  }
  .fullContainer #nav-tab #nav-table-tab,
.fullContainer #nav-tab #nav-graphic-tab {
    width: 180px !important;
    color: #2a838f;
  }
  .fullContainer #tableDemonstration-Medias {
    margin: 0 auto;
  }
  .fullContainer #tableDemonstration-Medias .tableTitle {
    font-size: 13px;
    color: #2a838f;
    font-weight: bolder;
    margin-bottom: 0;
  }
  .fullContainer #tableDemonstration-Medias .tdVet {
    border-collapse: collapse;
    text-align: center;
    border-bottom: 2px solid #2a838f;
    padding: 5px 10px;
  }
  .fullContainer #tableDemonstration-Medias .tdVet p {
    color: #2a838f;
    margin-bottom: 0;
  }
  .fullContainer #tableDemonstration-Medias .tableLines {
    border-left: 2px solid #2a838f;
  }
  .fullContainer .selectDistribution .col-xs-12 nav .nav-tabs {
    flex-direction: column;
  }
  .fullContainer .selectDistribution .col-xs-12 nav .nav-tabs a {
    width: 200px;
    margin-bottom: 20px !important;
    padding: 10px 60px !important;
  }
  .fullContainer .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .titleDefault {
    color: #0D3C42;
    font-size: 20px;
  }
  .fullContainer .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row {
    flex-direction: column !important;
  }
  .fullContainer .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row div input[type=text] {
    width: 200px !important;
  }
  .fullContainer .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .selectLenght {
    margin-top: 20px;
    flex-direction: column !important;
  }
  .fullContainer .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .row .selectLenght .intervalValue .inputInsert {
    margin: 20px auto;
  }
  .fullContainer .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .successFailure {
    margin: 25px auto;
    display: flex;
    flex-direction: column !important;
  }
  .fullContainer .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .successFailure .success {
    padding: 0 !important;
  }
  .fullContainer .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .successFailure .success .textSample {
    color: #0D3C42;
    font-size: 18px;
  }
  .fullContainer .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .successFailure .failure {
    padding: 0 !important;
    margin-top: 15px;
  }
  .fullContainer .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .successFailure .failure .textSample {
    color: #0D3C42;
    font-size: 18px;
  }
  .fullContainer .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .successFailure input[type=text] {
    max-width: 150px;
    padding: 5px 30px;
    border: 1px solid #2a838f;
    color: #2a838f;
    margin: 0 10px;
  }
  .fullContainer .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .valuesNormal {
    display: flex;
    flex-direction: column !important;
  }
  .fullContainer .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .valuesNormal .textSample {
    color: #0D3C42;
    font-size: 18px;
  }
  .fullContainer .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .valuesNormal input[type=text] {
    margin-top: 10px !important;
    max-width: 100px;
    padding: 5px 30px;
    border: 1px solid #2a838f;
    color: #2a838f;
    margin: 0 10px;
  }
  .fullContainer .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .valuesNormal .mean {
    padding: 0 5px !important;
  }
  .fullContainer .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .valuesNormal .diversion {
    padding: 0 5px !important;
  }
  .fullContainer .selectDistribution .col-xs-12 #nav-tabContent .tab-pane .valuesNormal .variance {
    padding: 0 5px !important;
  }
}
@media only screen and (max-width: 320px) {
  .fullContainer .contentDescritive .bodyDescritive input[type=text],
.fullContainer .contentDescritive .bodyDescritive .enter {
    margin: 0 auto 20px;
    padding: 10px 20px;
    width: 230px !important;
    height: 20px;
  }
  .fullContainer .contentDescritive .bodyDescritive input[type=text]::placeholder,
.fullContainer .contentDescritive .bodyDescritive .enter::placeholder {
    font-size: 9px !important;
  }
  .fullContainer .contentDescritive #nav-profile .line-chart {
    max-width: 500px !important;
    max-height: 500px !important;
  }
  .fullContainer .contentProbability #selectNormalLenght {
    max-width: 150px !important;
  }
  .fullContainer .contentProbability #valueNormal {
    max-width: 150px !important;
    margin: 0 auto;
  }
  .fullContainer .contentProbability #valueNormal input[type=text] {
    max-width: 100px !important;
  }
  .fullContainer #projection {
    margin: 0 auto 20px;
  }
  .fullContainer #projection .contentTitle .title {
    color: #2a838f;
    text-align: center;
  }
  .fullContainer #projection .contentSelectProj {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .fullContainer #projection .contentSelectProj span {
    margin: 0 auto 20px !important;
  }
  .fullContainer #projection .contentSelectProj #selectProjectionLenght {
    margin: 0 auto 10px !important;
  }
  .fullContainer #projection .contentSelectProj #valueprojectInput {
    margin: 0 auto -5px !important;
  }
}

/*# sourceMappingURL=output.css.map */
